{% load manage_template_tags %}
<div id="collab_formset" class="collab_formset_wrapper dynamic_formset" data-prefix="{{ formset.prefix }}">

    <div class="formset_header_row">

        {% for field in formset.empty_form.visible_fields  %}
            <div class="formset_header_cell">{{ field.label }}</div>
        {% endfor %}

        {% if formset.can_delete  %}
            <div class="formset_header_cell">Remove</div>
        {% endif %}

        <div class="formset_errors">{{ formset.non_form_errors }}</div>
        <div class="mgmt_form">{{ formset.management_form }}</div>

    </div>

    {% for collaborator_form in formset %}
        <div class="form_row">
            {% show_collab_form collaborator_form formset.can_delete %}
        </div>

    {% endfor %}


</div>




<script>


</script>