<h3 class="listing_header">
    Found Modules
    <span class="inline_count">({{ found_modules.count }})</span>
</h3>


<table id="my_collaborations_table" class="module_table responsive_table">
    <tr>
        <th >Module Name</th>
        <th style="width: 200px;">Published Date</th>
        <th style="width: 100px;">Created by</th>
        <th style="width: 110px">Share Code</th>
        <th style="width: 300px">
            Actions
            <span class="module-actions_popover-trigger" data-toggle="popover" data-placement="top" data-html="true"  title='Module Actions' data-content=''>
                <i class="fas fa-info-circle Info_legend_icon"></i>
            </span>
        </th>
    </tr>

    {% for module in found_modules %}
        <tr>
                <td >{{ module.name }}</td>
                <td >{{ module.changed_date }}</td>
                <td >{{ module.created_by }}</td>
                <td >{{ module.slug }}</td>
                <td >
                    <div class="module-action-container">
                        <a title="View Module" target="_blank" href="{{module.viewer_url}}"><i class="fas fa-eye glyph-button"></i></a>
                        <a title="Clone Module" target="_blank" href="" ><i class="fas fa-copy glyph-button"></i></a>

                    </div>
                </td>

        </tr>

    {% empty %}
        <tr>
            <td> No Modules have been Published yet!</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
</table>