{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h3 id="my_modules_header">Manage My Modules</h3>

<!--create new module button-->
<a target="_blank" href="{% url 'editor:lesson_create' %}">
    <button id="create_module" type="button" class="btn btn-primary">
        <i class="fas fa-plus-circle"></i> Create Module
    </button>
</a>


<!--my modules listing-->
<table id="my_modules_table" class="module_table responsive_table">
    <tr>
        <th >Module Name</th>
        <th style="width: 120px;">
            Published
            <span class="pub-status_popover-trigger" data-toggle="popover" data-placement="top" data-html="true"  title='Publication States' data-content=''>
                <i class="fas fa-info-circle Info_legend_icon"></i>
            </span>



        </th>
        <th style="width: 175px;">Last Modified</th>
        <th >Shared</th>
        <th style="width:110px">Share Code</th>
        <th style="width:300px">
            Actions
            <span class="module-actions_popover-trigger" data-toggle="popover" data-placement="top" data-html="true"  title='Module Actions' data-content=''>
                <i class="fas fa-info-circle Info_legend_icon"></i>
            </span>
        </th>
    </tr>
    {% for module in my_modules %}
    <tr>
            <td >{{ module.name }}</td>
            <td style="text-align: center;">

                {# display the current Publication Status Icon #}

                <a title="View Module" onclick="Module_View_Stack.push_view('Publish-{{ module.ref_id }}', 'Publish - {{ module.name }}', '{% url 'manage:module_publishindex' slug=module.slug %}'  )">

                {% if module.publish_status == module.PUBLISHED and module.is_dirty %}
                    <i title="{{module.get_publish_status_display}}" class="fas fa-circle publish_status_icon_pending"></i>
                {% elif  module.publish_status == module.PUBLISHED %}
                    <i title="{{module.get_publish_status_display}}" class="fas fa-circle publish_status_icon_published"></i>
                {% else %}
                    <i title="{{module.get_publish_status_display}}" class="fas fa-circle publish_status_icon_draft"></i>
                {% endif %}

                </a>
            </td>
            <td >{{ module.changed_date }}</td>
            <td >{{ module.shared }} N/A </td>
            <td >{{ module.slug }}</td>
            <td >
                <div class="module-action-container">
                    <a title="View Module" target="_blank" href="{{module.viewer_url}}"><i class="fas fa-eye glyph-button"></i></a>

                    <!--<a title="Edit Module" onclick="Module_View_Stack.push_view('Manage-{{ module.ref_id }}', 'Manage - {{ module.name }}', '{% url 'manage:module_update' slug=module.slug %}'  )"><i class="fas fa-edit glyph-button"></i></a>-->
                    <a title="Edit Module" target="_blank" href="{{module.edit_url}}" ><i class="fas fa-edit glyph-button"></i></a>

                    <!--placeholder links for future functionality-->
                    <!--<a class="disabled_action" title="Share Module" target="_blank" ><i class="fas fa-share-alt glyph-button"></i></a>-->
                    <a title="Manage Collaborators" onclick="Module_View_Stack.push_view('Collaborate-{{ module.ref_id }}', 'Collaborate - {{ module.name }}', '{% url 'manage:module_collaborate' slug=module.slug %}')" >
                        <i class="fas fa-users glyph-button"></i>
                        <!--<i class="fas fa-share-alt glyph-button"></i>-->
                    </a>

                    <a class="disabled_action" title="Duplicate Module" target="_blank" ><i class="fas fa-copy glyph-button"></i></a>

                    <a title="Delete Module" onclick="Module_View_Stack.push_view('Delete-{{ module.ref_id }}', 'Delete - {{ module.name }}', '{% url 'manage:module_delete' slug=module.slug %}')"><i class="fas fa-trash glyph-button"></i></a>
                </div>
            </td>

    </tr>
    {% empty %}
        <tr>
            <td> No modules yet, please add some! </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
</table>


<!--publication status info popover content-->
<div style="display:none;" class="pub-status_popover-content">
    <div><i title="{{module.get_publish_status_display}}" class="fas fa-circle publish_status_icon_draft"></i> - Draft Only</div>
    <div><i title="{{module.get_publish_status_display}}" class="fas fa-circle publish_status_icon_published"></i> - Published</div>
    <div><i title="{{module.get_publish_status_display}}" class="fas fa-circle publish_status_icon_pending"></i> - Pending Changes since last Publish</div>
</div>

<!--module actions info popover content-->
<div style="display:none;" class="module-actions_popover-content">
    <div><i class="fas fa-eye glyph-button"></i> - View Current Draft of Module</div>
    <div><i class="fas fa-edit glyph-button"></i> - Edit Module Structure</div>
    <div><i class="fas fa-users glyph-button"></i> - Manage Module Collaborators</div>
    <div><i class="fas fa-copy glyph-button"></i> - Copy module</div>
    <div><i class="fas fa-trash glyph-button"></i> - Delete this Module</div>
</div>

<script>


$(document).ready(function(){

    //$('[data-toggle="tooltip"]').tooltip({
     //   selector: '[data-toggle=tooltip]',
    //});

    // populate the content of the pub-status info popover
    $('.pub-status_popover-trigger').attr('data-content',$('.pub-status_popover-content').html())
    $('.module-actions_popover-trigger').attr('data-content',$('.module-actions_popover-content').html())


    // initialize the pub-status info popover
    $('.pub-status_popover-trigger, .module-actions_popover-trigger').popover({
        trigger: 'hover',
    });

});
</script>