{% load cms_tags menu_tags sekizai_tags static manage_template_tags %}



<!--TODO: Find a way to use viewstack manager to load edit/share/publish forms from selected object -->

<div id="my_modules_wrapper">
    <div id="crumb_trail"></div>
    <div id="Viewstack_content"></div>

</div>



{% addtoblock "js" %}
    <!--doesn't work because this is a partial view which is not using the 'layout.html' blocks-->
    <script type="text/javascript" src="{% static 'manage/js/manage_ViewStack.js' %}"></script>

    <script>
        Manage_View_Stack.push_view('listing', 'Module Listing', '{% url 'manage:module_list'  %}' )
    </script>
{% endaddtoblock %}

