<div id="quiz_question_wrapper">

    {% for question in questions %}
        <div class="quiz_question">
            <div class="question_text">{{ question.question_text }}</div>
            <div class="answers_wrapper">
                <ul>
                {% for answer in question.answers.all %}
                    <li class="answer_text">answer {{ answer.answer_text }}</li>

                {% empty %}
                    <li> No answers provided for this quiz question </li>
                {% endfor %}
                </ul>
            </div>

        </div>
    {% empty %}
        <div> This quiz looks empty! Questions/Answers can be added from the edit form. </div>
    {% endfor %}

</div>

<!--add some js for show/hide questions-->