<div>
    <h3>Learning Objectives - Introduction</h3>
    <p>Every educational course begins with goals that can be broken down into concise statements about what students will understand or be able to do when they complete the course. These statements are known as Learning Objectives. Well formulated learning objectives not only help communicate to students what to expect from a lesson, but also aid the teacher in preparing lecture and assignment materials and facilitate construction of in-class and out-of-class activities, and aid in designing course assessments and rubrics.</p>
    <h3>How to Write a Learning Objective:</h3>
    <p>Learning objectives should define observable behavior that can be measured. Although “learning” and “understanding” are worthy instructional goals, they are not observable or measurable. However, a student’s ability to “organize”, “label”, or “explain” is measurable.</p>
    <p>
        Well-written learning objectives typically include three main elements:
        <ol style="list-style:decimal;padding: 0px 2em;">
            <li><b>Condition</b> - the condition under which the student will perform the described behavior</li>
            <li><b>Behavior</b> - a description of a specific, observable behavior including an action (action usually selected from Bloom’s Taxonomy and corresponds with various levels of knowledge)</li>
            <li><b>Degree</b> - the degree indicates the desired level or degree of acceptable performance</li>
        </ol>
    </p>
    <h3>For example, a well-written learning objective may look like this:</h3>
    <p>
        “Given a diagram of the water cycle, student will identify at least three sources of ground water recharge with a definition of each source and description of how it functions in the larger water cycle”

        <ul style="list-style: disc;;padding: 0px 2em;">
            <li><span style="font-weight:bold;">Condition</span> - “Given a diagram of the water cycle…”</li>
            <li><span style="font-weight:bold;">Behavior</span> - “…student will identify at least three sources of ground water recharge…”</li>
            <li><span style="font-weight:bold;">Action</span> - Identify</li>
            <li><span style="font-weight:bold;">Degree</span> - “…with a definition of each source and description of how it functions in the larger water cycle.”</li>
        </ul>
    </p>
</div>