/* Jquery-UI overrides / extras */
.ui-dialog { border-radius: .75em !important; background-color: #EEEEEE; /*background-color: rgba(238, 238, 238, 0.9) ;*/ z-index: 3002; }

.ui-widget-header { border: none; background: #EF8C08; color: #ffffff; font-weight: bold !important; border-radius: .5em; /*margin: -4px;*/ }

.ui-dialog button { color: white; background-color: #6997AC; border-radius: 4px; border: 1px; height: 30px; margin: 5px; transition: all ease 200ms; }
.ui-dialog button:hover { color: white; background: #FFA228; }
.ui-dialog .ui-dialog-titlebar-close { background-color: white; background-image: url("Jquery_Icons/ui-icons_ef8c08_256x240.png"); background-position: 40% 57.4%; }
.ui-dialog .ui-dialog-titlebar-close:hover { background-color: red; background-image: url("Jquery_Icons/ui-icons_ffffff_256x240.png"); background-position: 40% 57.4%; }

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon { background-image: url("Jquery_Icons/ui-icons_ffffff_256x240.png"); }

.fixed-dialog { position: fixed; top: 50px; left: 50px; }

.ui-state-focus { outline: none; }

.ui-accordion-header { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.JUIaccordion .ui-icon, .subAccordion .ui-icon { display: none; }

/* END Jquery-UI overrides */
/* MODULE PAGE LAYOUT */
html, body { background: white; height: 100%; width: 100%; margin: 0; padding: 0; /*width: 100vw;
height: 100vh;*/ /*overflow-y:hidden;*/ }

#content-tab-header { position: fixed; top: 50px; background-color: #f1f1f1; background-repeat: no-repeat; width: 100%; height: 57px; z-index: 100; }

#main-body { /*padding-top:77px;*/ /*background: #ddf;*/ height: 100%; /*white-space: nowrap;*/ }

.flippedLabel_wrapper { /*height: 30px;
width: 200px;*/ transform-origin: left bottom 0; transform: rotate(90deg) translateX(0%); }
.flippedLabel_wrapper .flippedLabel { position: relative; }

#main-content { /*background: #dff;
display: inline-block;
display: block;
vertical-align: top;
padding-top:25px;
min-width: 940px;
max-width: 1300px;
transition: all .4s;
z-index: 0;*/ }
#main-content a { cursor: pointer; }

/* END MODULE PAGE LAYOUT */
.CaseStudy_Title_Text { display: none; }

.lesson-nav-container { width: 100%; float: left; padding-bottom: 20px; display: none; }

#lesson-nav-warning-dialog { position: relative; width: 400px; height: auto; padding: 15px; font-family: "Open Sans", sans-serif; font-size: 12px; }

.prev_lesson_link { border: none; font-weight: bold; cursor: pointer; color: #F98600; padding: 10px 20px; border-radius: .75em; background-color: transparent; }
.prev_lesson_link:hover { color: #23527c; text-decoration: none; background-color: #f3f3f9; }
.prev_lesson_link:disabled { color: #939393; text-decoration: none; background-color: #f3f3f9; }

.next_lesson_link { border: none; font-weight: bold; cursor: pointer; color: #01933E; padding: 10px 20px; border-radius: .75em; background-color: transparent; }
.next_lesson_link:hover { color: #23527c; text-decoration: none; background-color: #f3f3f9; }
.next_lesson_link:disabled { color: #939393; text-decoration: none; background-color: #f3f3f9; }

.lesson_complete_message { border: none; font-weight: bold; color: #01933E; padding: 10px 20px; background-color: transparent; display: none; }

/*collapsible container styling*/
.collapsible_container.HORIZ.collapsed { /*width: 0 !important;*/ }
.collapsible_container.HORIZ.collapsed .content_container.collapsed { width: 0 !important; }
.collapsible_container.VERT.collapsed { /*height: 0 !important;*/ }
.collapsible_container.VERT.collapsed .content_container.collapsed { height: 0 !important; }

/*
Table of contents styling
*/
#TOC_content { height: 100%; }

.TOC_listing { overflow-y: auto; overflow-x: hidden; }

.JUIaccordion h3.linked_title { background: none !important; }
.JUIaccordion .accord-title { color: white; font-size: 15px; font-weight: normal; cursor: pointer; padding-left: 25px; padding-right: 15px; border: none; border-bottom: solid 1px rgba(0, 0, 0, 0.2); transition: all 0.2s ease; background: none; }
.JUIaccordion .accord-title:after { font-family: "Font Awesome 5 Free"; font-weight: bold; content: "\f107"; float: right; font-size: 1.3em; }
.JUIaccordion .accord-title:hover { background-color: rgba(255, 255, 255, 0.2); }
.JUIaccordion .accord-title.ui-state-active:after { content: "\f106"; }
.JUIaccordion .accord-content { color: #333; font-size: 15px; width: 100%; padding: 0 !important; border: none; background: none; background-color: rgba(0, 0, 0, 0.15); border-left: solid 5px transparent; }

.TOC_Title { color: #fff; cursor: pointer; font-size: 15px; padding: 4px 25px; border-bottom: solid 1px rgba(0, 0, 0, 0.2); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; transition: all .4s; }
.TOC_Title:hover { color: white; background-color: rgba(255, 255, 255, 0.2); cursor: pointer; }
.TOC_Title.current_selected_section { color: #fff; background-color: rgba(217, 255, 0, 0.15); }

.tocIcon { margin-left: -20px; float: left; }
.tocIcon.quizicon { color: #6ce56c; }
.tocIcon.activityicon { color: #ff925f; }

#TableOfContents_header { color: #fff; font-size: 17px !important; font-weight: bold; padding: 0 5px; }

.TOC_Header_spacer { margin: 3px; width: 95%; border-top: 1px solid #85cfc1; }

.check_your_understanding { list-style-image: url("../images/Lesson_Icons/CheckIcon.png"); }

.learning_activities { list-style-image: url("../images/Lesson_Icons/LearnActivIcon.png"); }

/*END TABLE OF CONTENTS STYLING*/
.content_image { margin: auto; }

/* Stylized table css
 */
.answerKey.StyledTable { display: table; margin: 20px 10px 10px 10px; min-width: 200px; }
.answerKey.StyledTable .StyledTable_Row .StyledTable_Cell { background-color: #F7EA9C; color: black; }
.answerKey.StyledTable .StyledTable_Row .StyledTable_Cell.Header_Cell { background-color: #E2D37E; color: black; }

.round_TL { border-top-left-radius: .75em; }

.round_TR { border-top-right-radius: .75em; }

.round_BL { border-bottom-left-radius: .75em; }

.round_BR { border-bottom-right-radius: .75em; }

#CaseStudy_select-button { margin: 5px 4px; width: 390px; min-width: 390px; background: #A79C7C; border: 1px solid #7f7f7f; }
#CaseStudy_select-button:hover { background: #BFB8A6; }

.ui-state-default .ui-icon.custom-icon { background-image: url("../images/Lesson_Icons/caseStudyIcon.png"); }

#CaseStudy_select-button.ui-selectmenu-button span.ui-selectmenu-text { color: #F4E982; font-size: 16px !important; font-weight: bold; font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; padding: 10px; }

#CaseStudy_select.ui-state-default { color: #F4E982; }

body > div.ui-selectmenu-menu.ui-front.ui-selectmenu-open { z-index: 1002; }

#CaseStudy_select-menu { width: 389px; }
#CaseStudy_select-menu > li.ui-menu-item.ui-state-focus { font-weight: normal; }

#CaseStudy_select-button > span.ui-icon.custom-icon { width: 25px; height: 25px; margin-top: -12px; }

/* TODO: replace this BAND-AID FIX need to include this and the active definition to correct bootstrap/javascript issue */
#lesson-content.tab-pane { display: none !important; }
#lesson-content.tab-pane.active { display: block !important; }

/* END TODO: replace this BAND-AID FIX */

/*# sourceMappingURL=layout.css.map */
