{% extends 'layout.html' %}
{% load sekizai_tags static %}

{% block precontent %}

    <header class="text-center" name="home">
      <div class="intro-text">
        <!--<p class="intro-small-text">Welcome to</p>-->
        <div class="logo-large"></div>

        <!--<a href="#services-section" class="btn btn-default btn-lg page-scroll">LEARN MORE</a> -->
      </div>
    </header>

{% endblock precontent %}

{% block content %}

    {% addtoblock 'template_css' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
    {% endaddtoblock %}

    <div class="block">
        <div class="sidebyside">
            <div class="sidebyside_row">
                <div class="elem top"><img src="/static/img/HomePageImagry/logos/nsf_orig.png"></div>
                <div class="elem fill bottom">
                    <h1>What is HydroLearn?</h1>
                    <hr/>

                </div>
            </div>

        </div>
            <p>
                HydroLearn is a new educational project funded by the National Science Foundation to promote the development and adoption of active-learning resources in the fields of hydrology and water resources engineering. The project builds on previous developments by our team in the HydroViz project.
            </p>

            <p>
                Using the HydroLearn platform, educators can:
                <ul>
                    <li>Access real world hydrologic data and modeling tools</li>
                    <li>Customize existing learning modules, build new lessons and learning activities, and share with students as course assignments.</li>
                    <li>Access and modify learning outcomes and assessment rubrics that support the new learning resources</li>
                </ul>

            </p>

            <p>
                HydroLearn will use modern web technologies to provide wide access to learning resources and enable educators to collaboratively develop, customize and share innovative and rich learning material.
            </p>


    </div>


    <div class="block emphasis">
        add the 3 column images
    </div>

    <div class="block">
        <h2>Who</h2>
        <p>
            ​HydroLearn users include:

            <ul>
                <li>Educators who want to develop, customize and share innovative learning resources in hydrology and water resources</li>
                <li>Students who want to learn about fundamental and emerging topics in hydrology and water resources engineering using active learning approaches</li>
            </ul>

            The project includes an early-adoption fellowship program to engage educators in testing and developing new learning modules using the HydroLearn resources.

        </p>

    </div>

    <div class="block">
        <h2>Why</h2>
        <p>
            HydroLearn addresses the following challenges that face the development and adoption of innovative learning resources for undergraduate education in the fields of Hydrology and Water Resources Engineering:
            <ul>
                <li>Educators are hindered by the lack of easy-to-use tools to integrate community-based data, models and analysis tools into teaching content and lessons. Enabling seamless accessibility to these resources will (i) enhance educators’ ability to develop student-engaging learning material and reduce the complexity associated with such development, and (ii) provide more authentic contexts for teaching key topics in hydrology and water resources engineering.</li>
                <li>Despite the increasing availability of case- and problem-based resources that rely on data and modeling-based learning resources, educators are often “turned-off” by the locality (i.e., region- or data-specific) of resources that are developed by others. By providing educators with a mechanism for self-contribution and customization of content, HydroLearn aspires to build a sense of ownership to encourage educators to develop and adopt new teaching innovations.</li>
                <li>Educators look for resources that meet specific course learning outcomes aligned with their prescribed academic programs.  The HydroLearn platform will include guidance for educators to base the development and customization of learning modules on a sound, well-defined set of student learning outcomes. The use of development strategies with a focus on learning outcomes will promote good practices for content design, serve as a motivator for faculty to achieve accreditation criteria whilst also providing student-engaging learning experiences, and thus grow educators’ interest in hydrology engineering educational innovations.</li>
            </ul>
        </p>
    </div>


    <div class="block">
        <h2>How</h2>
        <p>
            <ul>
                <li>Building on our team’s collective efforts in HydroViz, HydroShare and Tethys developments, HydroLearn will allow educators to (a) access research advances in hydrology data and modeling resources,  (b) tap into web-based technologies and recent developments in hydro-informatics, and (c) collaboratively develop and share innovative active-learning modules.</li>
                <li>In collaboration with the National Water Center (NWC), the HydroLearn project will provide capacities that enable access to the newly developed National Water Model (NWM), and thus provide educators with opportunities to develop student learning modules that address water problems with immediate community impacts and critical societal impacts such as flood protection and forecasting.</li>
                <li>With a focus on achieving faculty adoption, HydroLearn follows a “design for sustained adoption” approach with three core elements: interactive development, interactive dissemination, and support of adopters.</li>
                <li>Following an early-engagement model, HydroLearn provides funded-fellowships to educators, faculty, and early-career scientists from the hydrology and water resources engineering community to participate in the development and testing of the learning resources using the HydroLearn platform.</li>
            </ul>
        </p>
    </div>


    <div class="block">
        <h2>Team</h2>
        <hr/>
        <div class="col-group">
            <div class="sidebyside">
                <div class="sidebyside_row">
                    <div class="elem top"><div class="uni"><img src="/static/img/HomePageImagry/logos/ull.png"></div></div>
                    <div class="elem bottom"><h4>UNIVERSITY OF LOUISIANA AT LAFAYETTE</h4></div>
                </div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="/static/img/HomePageImagry/team/UL/emad.png">
                </div>
                <div class="desc">
                    <h5>Emad Habib</h5>
                    <p>Principal Investigator</p>
                    <p>Dept. of Civil Engineering</p>
                    <p>habib@louisiana.edu</p>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/img/HomePageImagry/team/UL/khalid.jpg">
                </div>
                <div class="desc">
                    <h5>Khalid Elgazzar</h5>
                    <p>Co-Principal Investigator</p>
                    <p>School of Computing Informatics</p>
                    <p>​elgazzar@louisiana.edu</p>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/img/HomePageImagry/team/UL/doug.png">
                </div>
                <div class="desc">
                    <h5>Douglas Williams</h5>
                    <p>Co-Principal Investigator</p>
                    <p>College of Education</p>
                    <p>dwilliams@louisiana.edu</p>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/img/HomePageImagry/team/UL/melissa.jpg">
                </div>
                <div class="desc">
                    <h5>Melissa Gallagher</h5>
                    <p>Senior Investigator</p>
                    <p>College of Education</p>
                    <p>​mxg6401@louisiana.edu</p>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/img/HomePageImagry/team/UL/cary.jpeg">
                </div>
                <div class="desc">
                    <h5>Cary Rivet</h5>
                    <p>Software Developer</p>
                    <p>Informatics Research Inst.</p>
                    <p>cjr1712@louisiana.edu</p>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/img/HomePageImagry/team/UL/tsloey-vert.jpeg">
                </div>
                <div class="desc">
                    <h5>Taylor Sloey</h5>
                    <p>Senior Investigator</p>
                    <p>Inst. for Coastal &Water Research</p>
                    <p>​tsloey@louisiana.edu</p>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/img/HomePageImagry/team/unknown.png">
                </div>
                <div class="desc">
                    <h5>Hanz Unru</h5>
                    <p>PhD Grad Research Assistant</p>
                    <p>Dept. of Civil Engineering</p>
                    <p>​hgu2853@louisiana.edu</p>
                </div>
            </div>

        </div>

        <div class="col-group">
            <div class="sidebyside">
                <div class="sidebyside_row">
                    <div class="elem top"><div class="uni"><img src="/static/img/HomePageImagry/logos/usu.png"></div></div>
                    <div class="elem bottom"><h4>UTAH STATE UNIVERSITY</h4></div>
                </div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="/static/img/HomePageImagry/team/usu/tarboton.jpg">
                </div>
                <div class="desc">
                    <h5>David Tarboton</h5>
                    <p>Co-Principal Investigator</p>
                    <p>Dept. of Civil & Envr Engineering</p>
                    <p>dtarb@usu.edu</p>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/img/HomePageImagry/team/unknown.png">
                </div>
                <div class="desc">
                    <h5>Madeline Merck</h5>
                    <p>PhD Grad Research Assistant</p>
                    <p>Dept. of Civil & Envr Engineering</p>
                    <p>madeline.merck@aggiemail.usu.edu</p>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/img/HomePageImagry/team/unknown.png">
                </div>
                <div class="desc">
                    <h5>Pabitra Dash</h5>
                    <p>Software Engineer</p>
                    <p>Water Research Laboratory</p>
                    <p>pabitra.dash@usu.edu</p>
                </div>
            </div>

        </div>

        <div class="col-group">
            <div class="sidebyside">
                <div class="sidebyside_row">
                    <div class="elem top"><div class="uni"><img src="/static/img/HomePageImagry/logos/byu.png"></div></div>
                    <div class="elem bottom"><h4>BRIGHAM YOUNG UNIVERSITY</h4></div>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/img/HomePageImagry/team/byu/ames-dan.jpg">
                </div>
                <div class="desc">
                    <h5>Dan Ames</h5>
                    <p>Co-Principal Investigator</p>
                    <p>Dept. of Civil & Envr Engineering</p>
                    <p>dan.ames@byu.edu</p>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/img/HomePageImagry/team/unknown.png">
                </div>
                <div class="desc">
                    <h5>Zhiyu (Drew) Li</h5>
                    <p>Web App & Web Resource Developer</p>
                    <p>Provo Main Campus</p>
                    <p>zyli2004@gmail.com</p>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/img/HomePageImagry/team/unknown.png">
                </div>
                <div class="desc">
                    <h5>Jim Nelson</h5>
                    <p>Collaborator</p>
                    <p>Dept. of Civil & Envr Engineering</p>
                    <p>jimn@byu.edu</p>
                </div>
            </div>

        </div>

        <div class="col-group">

            <div class="heading"><h4>HYDROLEARN EXTERNAL EVALUATOR</h4></div>

            <div class="col">
                <div class="desc">
                    <h5>Jeffrey Froyd</h5>
                    <p>​Ohio State University</p>

                </div>
            </div>
        </div>

        <div class="col-group">

            <div class="heading"><h4>HYDROLEARN ADVISORY BOARD</h4></div>

            <div class="col">
                <div class="desc">
                    <h5>Liza Brazil</h5>
                    <p>Community Support Specialist</p>
                    <p>Consortium of University for the Admancement of Hydrologic Science, Inc. (CUAHSI)</p>

                </div>
            </div>
            <div class="col">
                <div class="desc">
                    <h5>Edward Clark</h5>
                    <p>Director</p>
                    <p>National Water Center</p>
                    <p>NOAA</p>
                </div>
            </div>
            <div class="col">
                <div class="desc">
                    <h5>David L Freyberg</h5>
                    <p>Professor</p>
                    <p>Stanford Unviersity</p>

                </div>
            </div>
            <div class="col">
                <div class="desc">
                    <h5>David R Maidment</h5>
                    <p>Professor</p>
                    <p>University of Texas at Austin</p>

                </div>
            </div>
            <div class="col">
                <div class="desc">
                    <h5>Hatim Sharif</h5>
                    <p>Professor</p>
                    <p>University of Texas San Antonio</p>
                </div>
            </div>
            <div class="col">
                <div class="desc">
                    <h5>Jan Seibert</h5>
                    <p>Associate Professor</p>
                    <p>University of Zurich</p>
                </div>
            </div>
            <div class="col">
                <div class="desc">
                    <h5>Clinton S. Willson</h5>
                    <p>Professor</p>
                    <p>Louisiana State University</p>
                </div>
            </div>

        </div>

        <div class="col-group">
            <div class="heading"><h4>HYDROLEARN FORMER TEAM MEMBERS</h4></div>

            <div class="col">
                <div class="desc">
                    <h5>Yuxin Ma</h5>
                    <p>Co-Principal Investigator</p>
                    <p>College of Education</p>
                    <p>UL Lafayette</p>
                </div>
            </div>
            <div class="col">
                <div class="desc">
                    <h5>Matthew Deshotel</h5>
                    <p>Grad Research Assistant</p>
                    <p>Dept. of Civil Engineering</p>
                    <p>UL Lafayette</p>
                </div>
            </div>
            <div class="col">
                <div class="desc">
                    <h5>Madeleine Bodin</h5>
                    <p>Grad Research Assistant</p>
                    <p>Dept. of Civil Engineering</p>
                    <p>UL Lafayette</p>
                </div>
            </div>
            <div class="col">
                <div class="desc">
                    <h5>Robert Miller</h5>
                    <p>PhD Candidate</p>
                    <p>Dept. of Civil Engineering</p>
                    <p>UL Lafayette</p>
                </div>
            </div>
            <div class="col">
                <div class="desc">
                    <h5>Jonathan Trahan</h5>
                    <p>Undergraduate Research Assistant</p>
                    <p>Civil and Environmental Engineering</p>
                    <p>UL Lafayette</p>
                </div>
            </div>
            <div class="col">
                <div class="desc">
                    <h5>Reed Rudasil</h5>
                    <p>Undergraduate Research Assistant</p>
                    <p>Civil and Environmental Engineering</p>
                    <p>UL Lafayette</p>
                </div>
            </div>
            <div class="col">
                <div class="desc">
                    <h5>Micah LaCombe</h5>
                    <p>Chief Technology Officer</p>
                    <p>Informatics Research Institute</p>
                    <p>UL Lafayette</p>
                </div>
            </div>
            <div class="col">
                <div class="desc">
                    <h5>Paul Krushinskie</h5>
                    <p>Database Administrator</p>
                    <p>Informatics Research Institute</p>
                    <p>UL Lafayette</p>
                </div>
            </div>
            <div class="col">
                <div class="desc">
                    <h5>Chimmula Sumani</h5>
                    <p>Programmer</p>
                    <p>Department of Civil Engineering</p>
                    <p>UL Lafayette</p>
                </div>
            </div>
            <div class="col">
                <div class="desc">
                    <h5>Ahmed Aly</h5>
                    <p>PhD Student</p>
                    <p>Center for Advanced Computer Studies</p>
                    <p>UL Lafayette</p>
                </div>
            </div>

        </div>

    </div>

    <div class="block">

        <div class="sidebyside collapsible">
                <div class="sidebyside_row">
                    <div class="elem top" style="border-right: 1px solid #e5e5e5;"><img src="/static/img/HomePageImagry/logos/nsf_orig.png"></div>
                    <div class="elem bottom">
                        <p>This project is supported by the National Science Foundation (#1726965).</p>
                        <p>Collaborative Research: Improving Student Learning in Hydrology & Water Resources Engineering by Enabling the Development, Sharing and Interoperability of Active Learning Resources.</p>
                    </div>
                </div>
            </div>

        <div>

        </div>

    </div>

    {% addtoblock 'template_js' %}
        <!-- Header -->
        <!--<script type="text/javascript" src="{% static 'js/helios_js/menu_animation.js' %}"></script>-->

        <script>



            if( typeof(CMS) != "undefined"){
                $('.navbar-default').removeClass('on')
                $('#base-cms-toolbar-container').removeClass('noshow')
                $('html').addClass('cms-content-shift')
            }

        </script>

    {% endaddtoblock 'template_js' %}

{% endblock content %}

{% block postcontent %}

    <!--adding dummy container for spacing temporary fix-->
    <!--<div class="container"></div>-->

{% endblock postcontent %}






