{% extends 'layout.html' %}
{% load sekizai_tags static %}

{% block precontent %}

    <header class="text-center" name="home">
      <div class="intro-text">
        <!--<p class="intro-small-text">Welcome to</p>-->
        <div class="logo-large"></div>

        <!--<a href="#services-section" class="btn btn-default btn-lg page-scroll">LEARN MORE</a> -->
      </div>
    </header>

{% endblock precontent %}

{% block content %}

    {% addtoblock 'template_css' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
    {% endaddtoblock %}


    <h2 style="text-align: center;" class="lesson-header">Coming Soon</h2>
    <hr>
    <p style="text-align: center;">
        Changes are currently being made to the content of Hydrolearn. Check back soon to see what we've been working on.
    </p>


    {% addtoblock 'template_js' %}
        <!-- Header -->
        <!--<script type="text/javascript" src="{% static 'js/helios_js/menu_animation.js' %}"></script>-->

        <script>



            if( typeof(CMS) != "undefined"){
                $('.navbar-default').removeClass('on')
                $('#base-cms-toolbar-container').removeClass('noshow')
                $('html').addClass('cms-content-shift')
            }

        </script>

    {% endaddtoblock 'template_js' %}

{% endblock content %}

{% block postcontent %}

    <!--adding dummy container for spacing temporary fix-->
    <!--<div class="container"></div>-->

{% endblock postcontent %}






