/*
#content-wrapper > {
  div {
    border: 1px solid #ccc;
    //width:75%;
    margin: auto;
    margin-bottom: 15px;
    background: #fff;
    padding: 10px;
  }
  #meta_box {
    background: #eef;
  }
  #preview_box {
    background: #fff;
  }


}
*/
/********************************************
 * Lesson Listing styling
 ********************************************/
.lesson_listing_wrapper {
  width: 500px;
  margin: auto;
  border-radius: 7px;
  padding: 15px;
  background: #666666 url(/static/css/Jquery_Icons/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; }
  .lesson_listing_wrapper.deletion {
    background: #666666 url(/static/css/Jquery_Icons/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat; }

.lesson_listing {
  width: 300px;
  margin: 5px auto; }
  .lesson_listing .lesson_block:first-child {
    font-weight: bold; }
  .lesson_listing .lesson_block:not(:first-child) {
    font-weight: normal; }

.obj_block {
  display: block;
  padding: 5px 15px;
  color: #fff; }

.lesson_block {
  background-color: rgba(0, 0, 0, 0.15); }

.section_block {
  background-color: rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.lesson_repr {
  background: #45a4f3;
  margin-bottom: 5px; }
  .lesson_repr .section_block, .lesson_repr .lesson_repr {
    margin-left: 5px; }
  .lesson_repr .lesson_repr {
    background-color: transparent; }
  .lesson_repr .lesson_children {
    background-color: rgba(0, 0, 0, 0.15); }

/********************************************
 * Form styling
 ********************************************/
.content_form_controls {
  background: #ececec;
  width: 100%;
  height: 50px;
  padding: 8px;
  margin-top: 15px;
  border-radius: 7px; }

input.has_error {
  border: 1px dashed red; }

label.form-error {
  color: #ff5555;
  font-style: italic;
  padding: 0 10px; }

.form_error_container {
  width: 100%;
  background-color: #ffe5e5;
  border-left: 3px solid red;
  padding: 10px;
  margin: 10px 0;
  clear: both;
  text-align: center;
  color: red;
  font-style: italic;
  font-weight: bold;
  display: none; }
  .form_error_container ul {
    list-style: none !important;
    list-style-type: none !important; }

.Add_button {
  font-weight: bold;
  background: #85cfc1;
  color: white;
  margin: 0 10px;
  transition: all .2s; }
  .Add_button:hover {
    background: #45a4f3;
    color: white; }

.Remove_button {
  font-weight: bold;
  background: #b1213c;
  color: white;
  margin: 0 10px;
  transition: all .2s; }
  .Remove_button:hover {
    background: red;
    color: white; }

.Cancel_button {
  font-weight: bold;
  background: #eaeaea;
  color: #333;
  margin: 0 10px;
  transition: all .2s; }
  .Cancel_button:hover {
    background: #d2d2d2; }

/********************************************
 * ViewStack styling
 ********************************************/
div.VStack_container {
  padding: 10px 20px; }
  div.VStack_container .VStack_crumb_trail {
    display: block;
    width: 100%;
    background-color: #eee;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 0 auto 20px; }
    div.VStack_container .VStack_crumb_trail:empty {
      display: none; }
    div.VStack_container .VStack_crumb_trail a.crumb_entry {
      color: #45a4f3;
      cursor: pointer; }
      div.VStack_container .VStack_crumb_trail a.crumb_entry:hover {
        color: #85cfc1; }
      div.VStack_container .VStack_crumb_trail a.crumb_entry.current_view {
        cursor: default;
        color: #666 !important; }

/********************************************
 * Content styling
 ********************************************/
.glyph-button {
  color: #45a4f3;
  transition: all .2s;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  width: 35px;
  padding: 5px;
  border-radius: .3em; }
  .glyph-button:hover {
    color: #fff;
    background-color: #45a4f3;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); }
  .glyph-button.glyph-delete {
    color: #b1213c; }
    .glyph-button.glyph-delete:hover {
      color: #fff;
      background-color: #b1213c; }
  .glyph-button.glyph-disabled {
    color: #ccc; }
    .glyph-button.glyph-disabled:hover {
      color: #fff;
      cursor: not-allowed;
      background-color: #999; }

.module_table .module-action-container {
  width: 275px;
  cursor: default; }
  .module_table .module-action-container a {
    margin: 3px; }
    .module_table .module-action-container a i {
      cursor: pointer;
      text-align: center;
      width: 35px;
      padding: 5px;
      border-radius: .3em; }
  @media (max-width: 480px) {
    .module_table .module-action-container {
      width: 200px; } }

#content-wrapper .listing_header {
  float: left; }
  #content-wrapper .listing_header .inline_count {
    font-style: italic;
    font-size: .75em; }
  @media (max-width: 480px) {
    #content-wrapper .listing_header {
      font-size: 17px; } }

#manage-content {
  margin-top: 54px;
  padding-top: 30px; }

#modules-content #create_module {
  float: right;
  margin: 13px 0 10px;
  transition: all .2s;
  font-weight: bold;
  background-color: #85cfc1;
  border: none; }
  #modules-content #create_module:hover {
    background-color: #45a4f3; }
  @media (max-width: 480px) {
    #modules-content #create_module {
      font-size: 12px; } }
#modules-content input[name$='-DELETE'], #modules-content label[for$='-DELETE'] {
  display: none; }
#modules-content #post-new-module h3.ui-accordion-header {
  margin: 2px 0;
  padding: 5px 5px;
  background: #F5F5F5;
  color: #666;
  border: 1px solid #ccc;
  font-size: 17px;
  transition: background .2s;
  box-shadow: #dcdcdc 2px 2px 5px 1px; }
#modules-content #post-new-module div.ui-accordion-content {
  margin: -1px 0 8px 0;
  padding: 1em;
  border: 1px solid #F5F5F5;
  box-shadow: #dcdcdc 2px 2px 5px 1px;
  background: #fff; }
#modules-content #post-new-module table tr td {
  padding: 10px; }
#modules-content #post-new-module .helptext {
  font-style: italic;
  font-size: .9em; }
#modules-content #post-new-module .topic_actions_btn_group {
  float: right; }
  #modules-content #post-new-module .topic_actions_btn_group i {
    font-size: 1.2em;
    vertical-align: middle; }
#modules-content #post-new-module .lesson_listing_header, #modules-content #post-new-module .section_listing_header {
  display: inline-block; }
#modules-content #post-new-module .lesson_actions_btn_group, #modules-content #post-new-module .add_new_sections_btn_group {
  float: right; }
  #modules-content #post-new-module .lesson_actions_btn_group i, #modules-content #post-new-module .add_new_sections_btn_group i {
    font-size: 1.2em;
    vertical-align: middle; }
#modules-content #post-new-module .Lesson-Accord .ui-state-focus {
  outline: none; }
#modules-content #post-new-module .Lesson-Accord h3.ui-accordion-header {
  background: #45a4f3;
  color: #fff; }
  #modules-content #post-new-module .Lesson-Accord h3.ui-accordion-header:hover {
    background: #3D6BAA; }
#modules-content #post-new-module .Lesson-Accord div.ui-accordion-content {
  margin: -1px 0 8px 0;
  padding: 1em;
  border: 1px solid #F5F5F5;
  box-shadow: #dcdcdc 2px 2px 5px 1px;
  background: #fff; }
#modules-content #post-new-module .Lesson-Accord .section_listing_header {
  display: inline-block; }
#modules-content #post-new-module .Lesson-Accord .add_new_sections_btn_group {
  float: right; }
  #modules-content #post-new-module .Lesson-Accord .add_new_sections_btn_group i {
    font-size: 1.2em;
    vertical-align: middle; }
#modules-content #post-new-module .Section-Accord .ui-state-focus {
  outline: none; }
#modules-content #post-new-module .Section-Accord h3.ui-accordion-header {
  background: #F5F5F5;
  color: #666; }
  #modules-content #post-new-module .Section-Accord h3.ui-accordion-header:hover {
    background: #e1e1e3; }
#modules-content #post-new-module .Section-Accord div.ui-accordion-content {
  margin: -1px 0 8px 0;
  padding: 1em;
  border: 1px solid #F5F5F5;
  box-shadow: #dcdcdc 2px 2px 5px 1px;
  background: #fff; }

.publish_status_icon_draft {
  color: #808080; }

.publish_status_icon_pending {
  color: #ffb500; }

.publish_status_icon_published {
  color: #45a4f3; }

.Info_legend_icon {
  color: #45a4f3;
  font-size: .9em;
  cursor: help; }

.ui-state-highlight {
  background: #ddd;
  border: 1px dashed #999;
  height: 1.5em;
  line-height: 1.2em; }

.FM-sort-control-panel {
  background: #ffffff44;
  display: inline-block;
  border-radius: 7px;
  padding: 0 10px;
  margin: 0 5px 0 0; }

.FM-sort-control {
  cursor: pointer;
  padding: 3px 3px;
  border-radius: 7px; }
  .FM-sort-control:hover {
    background: #ffffff44; }

/***********************************************
 *  dynamic Formset styling
 ***********************************************/
.dynamic_formset {
  display: table;
  width: 100%; }
  .dynamic_formset .formset_errors {
    display: none; }
  .dynamic_formset .mgmt_form {
    display: none; }
  .dynamic_formset .empty_form {
    display: none; }
  .dynamic_formset .formset_header_row {
    display: table-row; }
    .dynamic_formset .formset_header_row .formset_header_cell {
      display: table-cell;
      border-bottom: 3px solid #45a4f3;
      padding: 5px 10px;
      font-weight: bold; }
  .dynamic_formset .form_row {
    display: table-row;
    transition: all .2s; }
    .dynamic_formset .form_row:nth-child(odd) {
      background: #eee; }
    .dynamic_formset .form_row.new_form {
      background-color: #d4ecdab0; }
    .dynamic_formset .form_row.deleted_form {
      background-color: #ecd4d4b0; }
    .dynamic_formset .form_row .form_errors {
      display: none; }
    .dynamic_formset .form_row .form_cell {
      display: table-cell;
      padding: 5px 10px; }
      .dynamic_formset .form_row .form_cell a.form_delete i {
        cursor: pointer;
        text-align: center;
        width: 35px;
        padding: 5px;
        border-radius: .3em; }

/*# sourceMappingURL=manage_styling.css.map */
