<!--extend this to provide a detail view for a module-->

{% load sekizai_tags static thumbnail %}

{% block content %}
    {% addtoblock "template_css" %}{% endaddtoblock "template_css" %}

    <h2>
        {{ lesson.name }}
    </h2>
    <hr>
    <div id="summary_editor">
        {% if object.summary %}
            {{ object.summary|safe }}
        {% else %}
            This lesson doesn't appear to have a summary, you can populate this content from the edit interface.
        {% endif %}
    </div>

    <script>
        EDITOR_MGR.register_editor('#summary_editor', 'summary')
    </script>

{% endblock content %}

