{% extends CMS_TEMPLATE %}
{% load cms_tags menu_tags sekizai_tags static manage_template_tags%}

{% block title %}Manage{% endblock title %}

{% block content %}
    {% addtoblock "template_css" %}
        <link rel="stylesheet" href="{% static 'manage/css/manage_styling.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'module/css/lesson.css' %}" type="text/css">

    {% endaddtoblock "template_css" %}



        <div id="content-wrapper" class="always_full">

            <div id="content-tab-header">
                <div class="manage_navbar_wrapper">
                    <ul id="manage_nav" class="nav nav-tabs nav-fill" role="tablist">

                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" id="home-tab" data-toggle="tab" href="#home-content" role="tab" >Home</a>-->
                        <!--</li>-->
                        <li class="nav-item">
                            <a class="nav-link" id="modules-tab" data-toggle="tab" href="#modules-content" role="tab" >My Modules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="collab-tab" data-toggle="tab" href="#collab-content" role="tab" >My Collaborations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="find-tab" data-toggle="tab" href="#find-content" role="tab" >Find Modules</a>
                        </li>
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" id="app" data-toggle="tab" href="#app-tab" role="tab" >App</a>-->
                        <!--</li>-->
                    </ul>

                </div>

            </div>

            <div id="content-tab-body" class="tab-content">

                <!--<div id="home-content" class="tab-pane fade" role="tabpanel">-->
                    <!--{# include "manage/partials/_manage_home_tab_content.html" #}-->
                <!--</div>-->

                <div id="modules-content" class="tab-pane fade" role="tabpanel">
                    <div id="my_modules_wrapper"></div>

                </div>

                <div id="collab-content" class="tab-pane fade" role="tabpanel">
                    <div id="my_collab_wrapper"></div>

                </div>

                <div id="find-content" class="tab-pane fade" role="tabpanel">
                    {% include "manage/partials/_find_modules_tab_content.html" %}

                </div>
                <!-- <div id="app-tab" class="tab-pane fade" role="tabpanel"> -->
                    <!-- {# include "manage/partials/_apps_tab_content.html" #} -->
                <!-- </div> -->

            </div>


        </div>

    

    {% addtoblock "template_js" %}
        <script type="text/javascript" src="{% static 'js/plugins/jquery.validate.js' %}"></script>
        <script type="text/javascript" src="{% static 'manage/js/manage_ViewStack.js' %}"></script>

        <!--<script type="text/javascript" src="{% static 'js/plugins/jquery.validate.additional-methods.js' %}"></script>-->
        <script>

            $(document).ready(function(){

                // initialize new viewstacks for 'My Modules' and 'My Collaborations' views
                Module_View_Stack = new View_Stack('#my_modules_wrapper')
                Collab_View_Stack = new View_Stack('#my_collab_wrapper')

                // push the initial listing views to the viewstacks
                Module_View_Stack.push_view('listing', 'Module Listing', '{% url 'manage:module_list'  %}' )
                Collab_View_Stack.push_view('listing', 'Collab Listing', '{% url 'manage:collab_list'  %}' )

                // start off view on "My Modules"
                $('#modules-tab').tab('show')
                //$('#collab-tab').tab('show') // Select home tab


            });

        </script>
    {% endaddtoblock %}

{% endblock content%}



