{% extends CMS_TEMPLATE %}
{% load cms_tags menu_tags sekizai_tags static manage_template_tags%}

{% block title %}Manage{% endblock title %}

{% block content %}
    {% addtoblock "template_css" %}
        <link rel="stylesheet" href="{% static 'manage/css/manage_styling.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'module/css/lesson.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'HS_ResourceLink/css/dataTables.css' %}" type="text/css"/>
    {% endaddtoblock "template_css" %}



        <div id="content-wrapper" class="always_full">

            <div id="content-tab-header">
                <div class="manage_navbar_wrapper">
                    <ul id="manage_nav" class="nav nav-tabs nav-fill" role="tablist">

                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" id="home-tab" data-toggle="tab" href="#home-content" role="tab" >Home</a>-->
                        <!--</li>-->
                        <li class="nav-item">
                            <a class="nav-link" id="modules-tab" data-toggle="tab" href="#modules-content" role="tab" >My Modules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="collab-tab" data-toggle="tab" href="#collab-content" role="tab" >My Collaborations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="find-tab" data-toggle="tab" href="#find-content" role="tab" >Find Modules</a>
                        </li>
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" id="app" data-toggle="tab" href="#app-tab" role="tab" >App</a>-->
                        <!--</li>-->
                        <button id="hydroshare-button" data-toggle="modal" data-target="#hydroshare-modal">HydroShare</button>
                    </ul>

                </div>

            </div>

            <div id="content-tab-body" class="tab-content">

                <!--<div id="home-content" class="tab-pane fade" role="tabpanel">-->
                    <!--{# include "manage/partials/_manage_home_tab_content.html" #}-->
                <!--</div>-->

                <div id="modules-content" class="tab-pane fade" role="tabpanel">
                    <div id="my_modules_wrapper"></div>

                </div>

                <div id="collab-content" class="tab-pane fade" role="tabpanel">
                    <div id="my_collab_wrapper"></div>

                </div>

                <div id="find-content" class="tab-pane fade" role="tabpanel">
                    {# include "manage/partials/_find_modules_tab_content.html" #}
                    <div id="find_modules_wrapper"></div>

                </div>
                <!-- <div id="app-tab" class="tab-pane fade" role="tabpanel"> -->
                    <!-- {# include "manage/partials/_apps_tab_content.html" #} -->
                <!-- </div> -->

            </div>

            <div id="hydroshare-modal" class="modal fade" tabindex="-1" style="text-align:center;">
                <div class="modal-dialog modal-dialog-centered modal-lg" style="display: inline-block;text-align: left;vertical-align: middle;">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div>
                                <!-- Drop down filter, find all other resource official names at https://www.hydroshare.org/hsapi/resource/types/ -->
                                <div style="position:relative; text-align: right;">
                                    <span><b>Type: </b></span>
                                    <select id="type_dropdown">
                                        <option value="All">All</option>
                                        <option value="GenericResource">Generic</option>
                                        <option value="CompositeResource">Composite</option>
                                        <option value="RasterResource">Raster</option>
                                        <option value="RefTimeSeriesResource">HIS References Time Series</option>
                                        <option value="TimeSeriesResource">Time Series</option>
                                        <option value="NetcdfResource">Multidimentional (NetCDF)</option>
                                        <option value="ModelProgramResource">Model Program</option>
                                        <option value="ModelInstanceResource">Model Instance</option>
                                        <option value="ToolResource">Web App</option>
                                        <option value="SWATModelInstanceResource">SWAT Model Instance</option>
                                        <option value="GeographicFeatureResource">Geographic Feature</option>
                                        <option value="ScriptResource">Script</option>
                                    </select>
                                </div>
                                <div id="model-rep">
                                    <img src="{% static 'manage/images/hydroshare/loading-animation.gif' %}">
                                  <br>
                                  <p><b>Loading HydroShare resources...</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



    {% addtoblock "template_js" %}
        <script type="text/javascript" src="{% static 'js/plugins/jquery.validate.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery.formset.js' %}"></script>
        <script type="text/javascript" src="{% static 'manage/js/manage_ViewStack.js' %}"></script>
        <script type="text/javascript" src="{% static 'HS_ResourceLink/js/dataTables.js' %}"></script>
        <script type="text/javascript" src="{% static 'manage/js/hydroshare/hydroshare.js' %}"></script>
        <!--<script type="text/javascript" src="{% static 'js/plugins/jquery.validate.additional-methods.js' %}"></script>-->
        <script>

            $(document).ready(function(){

                // initialize new viewstacks for 'My Modules' and 'My Collaborations' views
                Module_View_Stack = new View_Stack('#my_modules_wrapper')
                Collab_View_Stack = new View_Stack('#my_collab_wrapper')
                FindModules_View_Stack = new View_Stack('#find_modules_wrapper')

                // push the initial listing views to the viewstacks
                Module_View_Stack.push_view('listing', 'Module Listing', '{% url 'manage:module_list'  %}' )
                Collab_View_Stack.push_view('listing', 'Collab Listing', '{% url 'manage:collab_list'  %}' )
                FindModules_View_Stack.push_view('listing', 'Find Modules', '{% url 'manage:find_modules'  %}' )

                // start off view on "My Modules"
                $('#modules-tab').tab('show')

            });

        </script>
    {% endaddtoblock %}

{% endblock content%}



