<!--extend this to provide a detail view for a module-->
{% extends CMS_TEMPLATE %}
{% load cms_tags sekizai_tags static thumbnail %}

{% block content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static 'manage/css/manage_styling.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'module/css/lesson.css' %}" type="text/css">

    {% endaddtoblock "css" %}

    <h3>Manage Module</h3>
    <div id="manage-content">

        <div id="meta_box">
            <div><span style="font-weight: bold; font-style: italic">Name: </span>{{ object.name}}</div>
            <div><span style="font-weight: bold; font-style: italic">Tags: </span>{{ object.tags.names | join:", " }}</div>
            <div><span style="font-weight: bold; font-style: italic">Slug: </span>{{ object.slug }}</div>
            <div><span style="font-weight: bold; font-style: italic">Reference id: </span>{{ object.ref_id }}</div>
            <div><span style="font-weight: bold; font-style: italic">Createdby: </span>{{ object.created_by }}</div>
            <div><span style="font-weight: bold; font-style: italic">Created: </span>{{ object.created_at }}</div>
            <div><span style="font-weight: bold; font-style: italic">Last Modified: </span>{{ object.updated_at }}</div>
            <br/>
            <!-- Output any related tags -->
            <div><span style="font-weight: bold; font-style: italic">Tags: </span>{{ object.tags.names | join:", " }}</div>

        </div>

        <div>
            <h3>Module Links</h3>
            <ul>
                <li>Core - <a target="_blank" href="{{ object.absolute_url }}">{{ request.META.HTTP_HOST }}{{ object.absolute_url }}</a></li>
                <li>Module - <a target="_blank" href="{{ object.viewer_url }}">{{ request.META.HTTP_HOST }}{{ object.viewer_url }}</a></li>
                <li>Reference URL - <a target="_blank" href="{{ object.reference_url }}">{{ request.META.HTTP_HOST }}{{ object.reference_url }}</a></li>
                <li>Manage - <a target="_blank" href="{{ object.manage_url }}">{{ request.META.HTTP_HOST }}{{ object.manage_url }}</a></li>
            </ul>

            <h3>Linked Layers:</h3>
            <ul>
                {% for layer in layers %}
                    <li>
                        {{layer.name}}
                    </li>
                {% empty %}
                    <p>no Layers for this module yet, add some to view them here.</p>
                {% endfor %}

            </ul>

            <h3>Topics:</h3>
            <ul>
                {% for topic in object.module_topics.all %}
                    <li>
                        <a href='{{topic.manage_url}}'>{{topic.name}}</a>
                    </li>
                {% empty %}
                    <p>no topics for this module yet, add some to view them here.</p>
                {% endfor %}

            </ul>
        </div>
        
        <p class='topics-listing'></p>
        
    </div>
    
    
    {% block "js" %}
    <script>
        
        // LOAD A PARTIAL VIEW OF TOC
        //$.ajax({
        //   url: '/modules/{{module.slug}}/topics/',
        //   type: "post",
        //   dataType: "html",
        //   //async: false,
        //   success: function(response) {
        //        $('.topics-listing').html(response);
        //   },
        //   error: function(msg) {
        //       $('.topics-listing').html('uhh ohh...');
        //   }
        //});
        
        // LOAD JSON OBJECT DEFINING TOC
        //$.getJSON('/modules/{{module.slug}}/topics/', {}, function(data, jqXHR){
        //    // do something with response
        //    
        //    $('.topics-listing').append(data.toString());
        //});
    </script>
    {% endblock "js" %}
    
{% endblock content %}

