<!--extend this to provide a detail view for a module-->
{% extends CMS_TEMPLATE %}
{% load cms_tags sekizai_tags static thumbnail %}

{% block subtitle %} - Manage Module {% endblock subtitle %}

{% block content %}
    {% addtoblock "template_css" %}
        <link rel="stylesheet" href="{% static 'manage/css/manage_styling.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'manage/css/manage_content_styling.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'module/css/lesson.css' %}" type="text/css">

    {% endaddtoblock %}

<div id="manage-content">
    <h3>Manage Module</h3>
    <div class="manage-details-accord module-accord">
        <h3>Additional Information</h3>
        <div id="meta_box">
            <div><span style="font-weight: bold; font-style: italic">Slug: </span>{{ object.slug }}</div>
            <div><span style="font-weight: bold; font-style: italic">Reference id: </span>{{ object.ref_id }}</div><br>

            <div><span style="font-weight: bold; font-style: italic">Created by: </span>{{ object.created_by }}</div>
            <div><span style="font-weight: bold; font-style: italic">Date Created: </span>{{ object.creation_date }}</div><br>

            <div><span style="font-weight: bold; font-style: italic">Last Modified by: </span>{{ object.changed_by }}</div>
            <div><span style="font-weight: bold; font-style: italic">Date Modified: </span>{{ object.changed_date }}</div><br/>
            <!-- Output any related tags -->
            <h4>Tags</h4>
            <ul>
                <li><span style="font-weight: bold; font-style: italic">Tags: </span>{{ object.tags.names | join:", " }}</li>
            </ul>

            <div><span style="font-weight: bold; font-style: italic">View Link: </span><a target="_blank" href="{{ object.viewer_url }}">{{ request.META.HTTP_HOST }}{{ object.viewer_url }}</a></div>
            <hr>
            <div>
                <!--<h4>Module Links</h4>-->
                <!--<ul>-->
                    <!--<li>Core - <a target="_blank" href="{{ object.absolute_url }}">{{ request.META.HTTP_HOST }}{{ object.absolute_url }}</a></li>-->
                    <!--<li>Module - <a target="_blank" href="{{ object.viewer_url }}">{{ request.META.HTTP_HOST }}{{ object.viewer_url }}</a></li>-->
                    <!--<li>Reference URL - <a target="_blank" href="{{ object.reference_url }}">{{ request.META.HTTP_HOST }}{{ object.reference_url }}</a></li>-->
                    <!--<li>Manage - <a target="_blank" href="{{ object.manage_url }}">{{ request.META.HTTP_HOST }}{{ object.manage_url }}</a></li>-->
                <!--</ul>-->

                <h4>Linked Layers:</h4>
                <ul>
                    {% for layer in layers %}
                        <li>
                            {{layer.name}}
                        </li>
                    {% empty %}
                        <li>no Layers for this module yet, add some to view them here.</li>
                    {% endfor %}

                </ul>

                <h4>Topics:</h4>
                <ul>
                    {% for topic in object.topics.all %}
                        <li>
                            <a href='{% url "manage:topic_content" module_slug=object.slug  slug=topic.slug %}'>{{topic.name}}</a>
                        </li>
                    {% empty %}
                        <p>no topics for this module yet, add some to view them here.</p>
                    {% endfor %}

                </ul>
            </div>

        </div>
    </div>


    <div id="lesson-content">
        <div class="lesson">
            <h2>{% render_model object 'name' %}</h2>
            <h3>Introduction Content</h3>
            <hr>
            <div>
                {% render_placeholder object.intro %}
            </div>
        </div>
    </div>


</div>
{% addtoblock 'template_js' %}
<script>
    $('.manage-details-accord').accordion({
        active: false,
        collapsible:true,
        heightStyle: "content",
    });
    $('table:not(.responsive_table):not(.stacktable)').addClass('responsive_table')

</script>
{% endaddtoblock 'template_js' %}

{% endblock content %}

