<!--extend this to provide a detail view for a module-->

{% load sekizai_tags static thumbnail %}

{% block content %}
    {% addtoblock "template_css" %}{% endaddtoblock "template_css" %}

    <h2>
        {{ object.name }}
    </h2>
    <hr>
    <div>
        This is a non-typed section, if this is being displayed, there is an error in
        the system that allowed a section to be created without a type.

        Please, contact an administrator if this occurs.
    </div>

    {% addtoblock 'template_js' %}{% endaddtoblock 'template_js' %}

{% endblock content %}

