<!--extend this to provide a detail view for a module-->

{% load module_template_tags sekizai_tags static thumbnail %}

{% block content %}

    <h2>
        {{ object.name }}
    </h2>
    <hr>

    {% show_resources_box object.resources.all %}

    <div id="content_editor">

        {% if object.content %}
            {{ object.content|safe }}
        {% else %}
            <p>This Activity doesn't appear to have any content, you can populate this from the edit interface.</p>
        {% endif %}
    </div>

    <script>
        EDITOR_MGR.register_editor('#content_editor', 'content')
    </script>

    {% addtoblock 'template_js' %}{% endaddtoblock 'template_js' %}

{% endblock content %}

