<!--extend this to provide a detail view for a module-->
{% extends 'content.html' %}
{% load cms_tags sekizai_tags static thumbnail %}

{% block subtitle%} - Manage Lesson {% endblock subtitle %}

{% block content %}
    {% addtoblock "template_css" %}
        <!--<link rel="stylesheet" href="{% static 'manage/css/manage_styling.css' %}" type="text/css">-->
        <!--<link rel="stylesheet" href="{% static 'manage/css/manage_content_styling.css' %}" type="text/css">-->
        <!--<link rel="stylesheet" href="{% static 'module/css/lesson.css' %}" type="text/css">-->
    {% endaddtoblock "template_css" %}

    <!--<div id="manage-content">-->


    <div class="lesson">
        <h2>
            Editing: {{ object.name }}
        </h2>
        <hr>

        <div class="resource_box">
            <h4>Resources:</h4>
            <ul>
                {% for resource in object.resources.all %}
                   <li> <a target="_blank" class="resource_link {{ resource.resource_type }}" href="{{ resource.resource_link }}"> {{resource.display_text}} </a> </li>
                {% empty %}
                    <li>No Resources for this Activity.</li>
                {% endfor %}

            </ul>
        </div>

        <div>
            {% render_placeholder object.content %}
        </div>


    </div>


    <!--</div>-->
    {% addtoblock 'template_js' %}{% endaddtoblock 'template_js' %}

{% endblock content %}

