<!--extend this to provide a detail view for a module-->
{% extends 'content.html' %}
{% load cms_tags sekizai_tags static thumbnail %}

{% block subtitle%} - Manage Lesson {% endblock subtitle %}

{% block content %}
    {% addtoblock "template_css" %}
        <!--<link rel="stylesheet" href="{% static 'manage/css/manage_styling.css' %}" type="text/css">-->
        <!--<link rel="stylesheet" href="{% static 'manage/css/manage_content_styling.css' %}" type="text/css">-->
        <!--<link rel="stylesheet" href="{% static 'module/css/lesson.css' %}" type="text/css">-->
    {% endaddtoblock "template_css" %}

    <!--<div id="manage-content">-->


    <div class="lesson">
        <h2>
            Editing: {{ object.name }}
        </h2>
        <hr>
        <div>
            {% for question in object.quiz_question_item.all %}

            question {{question.ref_id}}: ({{ question.polymorphic_ctype }}){% render_placeholder question.question_text %}


                {% for answer in question.answer_item.all %}
                    <p>
                        <span>Answer: {% render_placeholder answer.answer_text %}</span>
                        (<span>correct?: {{ answer.is_correct }}</span>)
                    </p>
                {% empty %}
                    <p>There don't appear to be answers for this question... paradoxical </p>
                {% endfor %}
            <hr/>
            {% empty %}

            <p> There don't appear to be any questions in this quiz, please add some. </p>

            {% endfor %}
        </div>
    </div>


    <!--</div>-->
    {% addtoblock 'template_js' %}{% endaddtoblock 'template_js' %}

{% endblock content %}

