<!--extend this to provide a detail view for a module-->

{% load module_template_tags sekizai_tags static thumbnail %}

{% block content %}

    <!--<div id="manage-content">-->


    <div class="lesson">
        <h2>
            Editing: {{ object.name }}
        </h2>
        <hr>

        {% show_resources_box object.resources.all %}

        <div>

            {% if object.content %}
                {{ object.content }}
            {% else %}
                <p>This Activity doesn't appear to have any content, you can populate this from the edit interface.</p>
            {% endif %}
        </div>


    </div>


    <!--</div>-->
    {% addtoblock 'template_js' %}{% endaddtoblock 'template_js' %}

{% endblock content %}

