<!--extend this to provide a detail view for a module-->
{% load sekizai_tags static thumbnail %}

{% block content %}
    {% addtoblock "template_css" %}
        <!--<link rel="stylesheet" href="{% static 'manage/css/manage_styling.css' %}" type="text/css">-->
        <!--<link rel="stylesheet" href="{% static 'manage/css/manage_content_styling.css' %}" type="text/css">-->
        <!--<link rel="stylesheet" href="{% static 'module/css/lesson.css' %}" type="text/css">-->
    {% endaddtoblock "template_css" %}

    <!--<div id="manage-content">-->


    <div class="lesson">
        <h2>
            Editing: {{ object.name }}
        </h2>
        <hr>
        <div>

            {% if object.content %}
                {{ object.content }}
            {% else %}
                <p>This Reading section doesn't appear to have any content, you can populate this from the edit interface.</p>
            {% endif %}
        </div>
    </div>


    <!--</div>-->
    {% addtoblock 'template_js' %}{% endaddtoblock 'template_js' %}

{% endblock content %}

