{% load manage_template_tags %}

<div class="view_stack_view">
    <div class="HL-message-banner warning">Warning! This action is non-reversible!</div>
    <h2>Confirm Deletion</h2>
    <p>
        Are you sure you want to delete "{{ object.name }}" and all of it's content?
        This will remove all of the following content:
    </p>

    <div class="lesson_listing_wrapper deletion">
        <div class="lesson_listing">
            {% show_lesson_representation object %}
        </div>
    </div>


    <form id="deletion_form" method="post" action="{% url 'manage:module_delete' object.slug%}">{% csrf_token %}</form>
    <div class="content_form_controls">
        <!--<input type="submit" value="Confirm" class="btn Remove_button">-->
        <!--<a href="/manage" class="btn btn-default">Cancel</a>-->
        <button class="Remove_button btn btn-default">Confirm Deletion</button>
        <button class="Cancel_button btn btn-default">Cancel</button>
    </div>

</div>

<script>
    $('.content_form_controls .Remove_button').click(function(event){
        debugger;
        event.preventDefault();
        $('#deletion_form').submit()
    })

    $('.content_form_controls .Cancel_button').click(function(event){
        event.preventDefault();
        Manage_View_Stack.pop_view();
    })

</script>