{% load core_tags manage_template_tags polymorphic_formset_tags static sekizai_tags %}


<div id="module_form_wrapper">

    <h3>Manage Lesson - {% if object %} {{object.name}} {% else %} New Lesson {% endif %}</h3>

    <div id="module_form_error_message" class="form_error_container" style="display:none"></div>
    <div id="returned_result"></div>

    <!--<form id="post-new-module" action="create/module/" method="post">-->
    <form id="post-new-module" action="{{ request.path }}" method="post">
        {% csrf_token %}

        <button class="Submit_button btn btn-default" type="submit" style="float:right;">Submit Lesson</button>
        {# add lesson management form and list any errors #}

        {# add the base lesson form #}
        {% show_lesson_form form sections_fs=sections sub_lessons_fs=sub_lessons %}

        <br/>

        {# add formset wrappers for the module's topics #}



        <button class="Submit_button btn btn-default" type="submit" style="float:right;">Submit Lesson</button>
    </form>

</div>


<!--
    FORMSET HEADERS
-->


<div class="FM_formset_header" FM-Max-Depth=2 FM-Type="LESSONS" FM-Base-Prefix="{{ sub_lessons.prefix }}">
        <div class="FM_formset_errors">{{ sub_lessons.non_form_errors }}</div>
        <div class="FM_mgmt_form">{{ sub_lessons.management_form }}</div>

        <h4 class="lesson_listing_header">Sub-Lessons</h4>

        <div class="lesson_actions_btn_group btn-group" role="group">
            <a id="" type="button" class="FM_add_form Add_button btn btn-default" FM-Type="LESSONS" >
                <i class="fas fa-plus-circle"></i>
                Add Sub-Lesson
            </a>
        </div>

        <hr/>
        {# prototype for collapse/expand all funtionality #}
        {# <div class="lesson_actions_btn_group btn-group" role="group"> #}
        {#    <a id="collapse_all_Lesson" type="button" class="btn btn-default">Collapse All</a> #}
        {#    <a id="expand_all_Lesson" type="button" class="btn btn-default">Expand All</a> #}
        {# </div> #}

</div>



<div class="FM_formset_header" FM-Type="SECTIONS" FM-Base-Prefix="{{ sections.prefix }}">

    <div class="FM_formset_errors">{{ sections.non_form_errors }}</div>
    <div class="FM_mgmt_form">{{ sections.management_form }}</div>

    <h4 class="section_listing_header">Sections</h4>

    {# django-polymorphic formset (e.g. PolymorphicInlineFormSetView) #}

    <div class="add_new_sections_btn_group btn-group" role="group">

        {# add a seperate add-button for each polymorphic type #}
        {% for model in sections.child_forms %}
            <a class="FM_add_form btn btn-default Add_button" type="button" FM-Type="SECTIONS" FM-poly-type="{{ model|as_model_name }}" style="margin:0;" >
                <i class="fas fa-plus-circle"></i>
                {{ model|verbose_name }}
            </a>
        {% endfor %}

    </div>

    {# <div class="topic_actions_btn_group btn-group" role="group"> #}
    {#     <a type="button" class="btn btn-default collapse_all_section">Collapse All</a> #}
    {#      <a type="button" class="btn btn-default expand_all_section">Expand All</a> #}
    {# </div> #}



    <hr>
</div>


<!--
    FORMSET Empty forms
-->

<div class="FM_empty_form" FM-Type="LESSONS">

    <div class="Lesson-Accord accordion-form">
        <h3 class="Lesson-Header">
            <div class="FM-sort-control-panel">
                <i class="FM-sort-control FM-sorting-handle fas fa-arrows-alt"></i>
                <i class="FM-sort-control FM-sort-up fas fa-chevron-up"></i>
                <i class="FM-sort-control FM-sort-down fas fa-chevron-down"></i>
            </div>
            <span class="FM_linked_label" FM-linked-selector="input.object_name" FM-label-default="New Lesson"></span>
        </h3>
        <div class="Lesson-Container">

            {% if sub_lessons.can_delete %}
            <a class="FM_remove_form Remove_button btn btn-default" type="button" style="float:right;">
                <i class="fas fa-minus-circle"></i> Remove this form
            </a>
            {% endif %}

            <div class="FM_form_content">
                <div class="FM_form_errors form_error_container"></div>


                {# add in placeholder for nested sections formset #}

                {% show_lesson_form sub_lessons.empty_form %}

            </div>
        </div>
    </div>
</div>


{% for empty_form in sections.empty_forms %}
    <div class="FM_empty_form" FM-Type="SECTIONS" FM-poly-type="{{ empty_form|as_form_type }}">
        <div class="Section-Accord accordion-form">
            <h3>
                <div class="FM-sort-control-panel">
                    <i class="FM-sort-control FM-sorting-handle fas fa-arrows-alt"></i>
                    <i class="FM-sort-control FM-sort-up fas fa-chevron-up"></i>
                    <i class="FM-sort-control FM-sort-down fas fa-chevron-down"></i>
                </div>
                <span class="FM_linked_label" FM-linked-selector="input.object_name" FM-label-default="New {{ empty_form|form_model_verbose_name }}"></span>
            </h3>
            <div>
                {% if sections.can_delete %}
                <a class="FM_remove_form Remove_button btn btn-default" type="button" style="float:right;">
                    <i class="fas fa-minus-circle"></i> Remove this form
                </a>
                {% endif %}

                <div class="FM_form_content">
                    <div class="FM_form_errors form_error_container"></div>

                        {% show_section_form empty_form %}
                        <!--{{ empty_form.as_table }}-->

                </div>
            </div>
        </div>
    </div>
{% endfor %}



{# addtoblock "js" #}
<script type="text/javascript" src="{% static 'manage/js/manage_ModuleFormManager.js' %}"></script>
<script type="text/javascript" src="{% static 'manage/js/manage_ModuleFormValidation.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'tags/js/bootstrap-tagsinput.js' %}"></script>-->

<script>
    // disable 'Enter' key action in forms (causes submission of form by default)
    $("form").keypress(function(e) {
      //Enter key
      if (e.which == 13) {
        return false;
      }
    });

    FormManager.init('#post-new-module');
    initialize_existing_validation()


    // initialize the current topic/section accordions

    // initialize the topic accordions
    $('.accordion-form').each(function(){
        $(this).accordion({
            active: false,
            collapsible:true,
            heightStyle: "content",
        });
    });


    // add an ALL post add event to initialize the form accordions and set events for sorting
    FormManager.add_post_add_event("ALL", function(){

        // get all uninitialized accordions
        $('.accordion-form:not(.ui-accordion)').each(function(){
            $(this).accordion({
                active: 0,
                collapsible:true,
                heightStyle: "content",
            });

            // add validation rules to newly generated fields
            $(this).find('input[name$="-name"]').each(function(){
                $(this).rules('add',custom_validator_rules['name']);
            });

            $(this).find('input[name$="-duration"]').each(function(){
                $(this).rules('add', custom_validator_rules['duration']);
            });

        });


    });

//      TODO: FIGURE THIS OUT
//    FormManager.add_post_formset_init_event("SECTIONS", function(){
//
//        // add functionality to expand a topics sections
//        $('.expand_all_section').click(function(){
//
//            // set the active option to 0 for each initialized topic-accordion
//            $.each($('.accordion-form.Section-Accord.ui-accordion'), function(){
//                $(this).accordion("option", {active: 0})
//            });
//        });
//
//        // add functionality to collapse topic sections
//        $('.collapse_all_section').click(function(){
//
//            // set the active option to false for each initialized topic-accordion
//            $.each($('.accordion-form.Section-Accord.ui-accordion'), function(){
//                $(this).accordion("option",{active: false})
//            });
//
//        });
//    });

    // add functionality to topic expand
    $('#expand_all_Topic').click(function(){
        // set the active option to 0 for each initialized topic-accordion
        $.each($('.accordion-form.Topic-Accord.ui-accordion'), function(){
            $(this).accordion("option", {active: 0})
        });
    });


    // add functionality to topic collapse
    $('#collapse_all_Topic').click(function(){
        // set the active option to false for each initialized topic-accordion
        $.each($('.accordion-form.Topic-Accord.ui-accordion'), function(){
            $(this).accordion("option",{active: false})
        });
    });


    // add sorting to existing formsets

    //$(".FM_formset_forms").each(function(){
//        var fm_type = $(this).attr('fm-type')
//        $(this).sortable({
//            items: ".FM_form[fm-type='"+ fm_type +"']",
//            placeholder: "ui-state-highlight",
//            start: function(e, ui){
//                    ui.placeholder.height(ui.item.height());
//                },
//            handle: ".FM-sorting-handle",
//            helper : 'clone',
//            update: FormManager._formset_sorted_evt
//        })
//    });


    $('#post-new-module').on('submit', function(event){
        event.preventDefault();

        // serialize the data from the form

        console.log('performing validation');
        //form = $(this)
    });

</script>

{# endaddtoblock #}

