{% load manage_template_tags %}


    <h2>Confirm Publication</h2>


    <p>Are you sure you want to Publish "{{ object.name }}"?
        If this object has been previously published, this action will replace the current
        published Module with the current 'Draft' content.
    </p>

    <h3>Preview:</h3>
    <div class="lesson_listing_wrapper">
        <div class="lesson_listing">
            {% show_lesson_representation object %}
        </div>
    </div>

    <form id="publish_form" method="post" action="{% url 'manage:module_publish' object.slug %}">
        {% csrf_token %}
    </form>

    <div class="content_form_controls">

        {% if object.publish_status != object.DRAFT_ONLY%}

            <button data-button-action="publish" class="Add_button Action_button btn btn-default">Re-Publish</button>
            <button data-button-action="unpublish" class="Remove_button Action_button btn btn-default">Unpublish</button>

            <!--<input type="submit" name="publish" value="Re-Publish" class="btn">-->
            <!--<input type="submit" name="unpublish" value="Unpublish" class="btn">-->
            <!--<input type="submit" name="revert" value="Revert" class="btn">-->

        {% else %}
            <button data-button-action="publish" class="Add_button Action_button btn btn-default">Publish</button>

            <!--<input type="submit" name="publish" value="Publish" class="btn">-->

        {% endif %}

        <!--<input type="submit" value="Confirm" class="btn Remove_button">-->
        <!--<a href="/manage" class="btn btn-default">Cancel</a>-->

        <button class="Cancel_button btn btn-default">Cancel</button>
    </div>


<script>
    // disable 'Enter' key action in forms (causes submission of form by default)
    $("form").keypress(function(e) {
      //Enter key
      if (e.which == 13) {
        return false;
      }
    });

    $('.content_form_controls .Action_button').click(function(event){
        event.preventDefault();

        var action = $(this).attr('data-button-action')

        debugger;
        var form = $('#publish_form');
        $('<input>', {type:"hidden", name:action, value:action }).appendTo(form);

        form.submit();

        //Module_View_Stack.pop_view();
    })

    $('.content_form_controls .Cancel_button').click(function(event){
        event.preventDefault();
        Module_View_Stack.pop_view();
    })


</script>