{% extends CMS_TEMPLATE %}
{% load cms_tags menu_tags sekizai_tags static %}

{% block title %}Login{% endblock title %}

{% block content %}

<!--CURRENTLY NOT USED, accounts/registration/login.html is the current set form-->
    <h3>Welcome Back!</h3>

    <p>Please fill out your login credentials below.</p>


    <form action="" method="post">{% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <br>
        <input type="submit" value="Login">

        <br><br>
        <p>New to HydroLearn? <a href="/accounts/register/">Click here to register</a></p>
    </form>

{% endblock content %}