{% extends "layout.html" %}

{% load sekizai_tags accounts_tags static %}

{% block title %}User Profile{% endblock title %}

{% block content %}

    {% addtoblock "template_css" %}
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}" />
    {% endaddtoblock "template_css" %}

<div id="profile_form_wrapper" class="centered_container glow_border">
    <div class="content">


    <h3>Update Profile</h3>
    <h4>{{user.email}}</h4>
    <hr/>
        <form id='user_profile_form' method="post" action="{% url 'accounts:update_user_profile' user.username %}">
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
        </form>


    <div id="social_wrapper">
        <h4>Social Accounts</h4>


        <div id="social_content">
            <table>
                <tr>
                    <th class="bottom_border">Provider</th>
                    <th class="bottom_border">Linked Account</th>
                    <th class="bottom_border"></th>
                </tr>

                <tr>

                {% if "hydroshare" not in backends.not_associated %}
                    <td>
                        <div class="hs-logo-container">
                            <a href="https://www.hydroshare.org/">
                                <img src="{% static  'accounts/images/hs_logo.png' %}">
                            </a>
                        </div>
                    </td>

                    {%  with backends.associated|provider_filter:"hydroshare" as association %}
                        <td>
                            <form id="social_form" role="form" method="post" action="{% url 'social:disconnect_individual' association.provider association.id %}?next={% url 'accounts:update_user_profile' user.username %}">
                                     {% csrf_token %}
                                <span>{{ association.uid }}</span>
                            </form>
                        </td>
                        <td>
                            <button type="submit" id="disconnect-social-submit" class="btn btn-danger" name="disconnect-social-submit">Disconnect</button>
                        </td>
                    {% endwith %}
                {% else %}
                    <td>
                        None
                    </td>
                    <td>
                        <a href="{% url 'social:begin' 'hydroshare' %}?next={{ request.path }}"><span class="btn btn-success">Connect</span></a>
                    </td>
                {% endif %}

                </tr>
            </table>
        </div>
    </div>

    </div>
    <div class="controls">
        <input type="submit" id="submit_profile_btn" class="Submit_button btn btn-default" value="Save Profile" />
    </div>
</div>

    {% addtoblock "template_js" %}

    <script>
        $('#submit_profile_btn').click(function(){
            $('#user_profile_form').submit();
        })
    </script>

    {% endaddtoblock "template_js" %}


{% endblock content %}

