
/*
    Exclude 'style-reset' as it causes some other issues
    @import 'browserStylingReset';

*/
@import 'branding';

/*
    bootstrap overrides
*/

.container {
    max-width:100%;
}


/*
    General overrides
*/

body, html {
	font-family: $body_font;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	//color: #777;


    // POTENTIAL SIDE EFFECTS fix issues with double-click to edit extending width of page
    overflow-x: hidden;

}

.cms {
    width: 100vw !important;
}


#base-cms-toolbar-container.noshow{
            //display:none;
            #cms-top{
                .cms-tooltip{}
                .cms-tooltip-touch{}
                .cms-toolbar{ display:none; }
                .cms-messages{}
                .cms-sideframe{ display:none; }
                .cms-structure{ display:none !important; }
                .cms-clipboard{}
                .cms-modal{}

            }
        }

html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    width: 100vw;
	max-width: 100%;
    margin-top: 0 !important;

	&.cms-content-shift{
        body{
            height: calc(100vh - 46px);
        }

	    #content{
	        margin-top:46px;
	        min-height: calc(100vh - 46px);
	    }

	    #sidebar {
	        margin-top:46px;
	        height: calc(100vh - 46px);
	    }

	    #menu {
	        top:46px !important;
	    }
	    .sidebar_wrapper{
	        margin-top:46px;
	    }

	    #content #content-wrapper #content-tab-header{
	        top:96px;
	    }
	}
}

body{
    margin: 0;
    max-width: 100%;
    //div { max-width: 100%;}
}

.logo{
    background: url($logo_215x40) no-repeat left center;
    width: 215px;
    height: 40px;

    @media (max-width: 400px){
        background: url($logo_150x28) no-repeat left center;
        width:150px;
        height:28px;
    }
}

.logo-large{
    background: url($logo_1280x720) no-repeat center center;
    background-size: 80%;
    //width: 1025px;
    height: 200px;



}

h1,h2,h3,h4,h5 {
    font-family: $header_font;
    color: $dark_gray;

    strong {
        font-weight: 900;
    }
}

h2 {
	line-height: 32px;
	font-size: 32px;
	font-weight: 700;
	margin: 0;
	margin-bottom: .5em;

}

h3 {
	font-size: 20px;
	color: #666;
	font-weight: 700;
}

h4 {
	font-size: 20px;
	color: #666;
}

h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

p{
    font-family: $body_font;
    padding-bottom: 1em;
}



.clearfix {
    display: inline-block;

    &:after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    display: block;
}

* {
    html {
        .clearfix {
            height: 1%;
        }
    }

}

ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
	list-style: none;
}
hr {
    border-top: 1px solid $HL_blue;
    width: 98%;
    border-radius: .75em;
	height: 3px;

	position: relative;
	background: $HL_blue;
	border: 0;
	margin: .5em auto 1em;
	text-align: center;

}

.darkSection {
    padding: 2em 3em;
    background-color: #f6f6f6;
    width: 100%;
}



/* Multicolumn element responsive styling */
div[class^='multicolumn'] {
    //padding: 2em 50px 2em;
    display:flex;
    flex-wrap: wrap;

    .column{
        flex: 1 0 200px;
        box-sizing: border-box;
        color: $dark_gray;
        padding: 1em 1em;
        margin-left: 10px;
        margin-top: 10px;
    }

}

/*************************************
 * HL message banner styling
 *************************************/
.HL-message-banner{
    display:block;

    margin: 10px 0;
    text-align: center;
    font-weight:bold;
    font-style:italic;
    color: red;

    background: #ffe5e5;
    border-left: 3px solid red;
    padding: 5px 10px;

    &.success{
        color: #069212;
        background: #a6ffce;
        border-left: 3px solid #069212;

    }

    &.warning{
        color: #ff8d00;
        background: #ffecd3;
        border-left: 3px solid #ffa162;
    }

    &.critical{
        color: red;
        background: #ffe5e5;
        border-left: 3px solid red;

    }
}


/* helios overrides
    TODO: Phase out origional Helios style sheet entirely with this document
*/

#services-section i.fas {
    font-size: 40px;
    margin-bottom: 20px;
    transition: all 0.5s;
    color: $HL_seafoam;
}


#content {

    width: 100vw;
    max-width:100%;
    //padding-top: 35px;
    //margin-top: $header-height;
    min-height: calc(100vh - #{$header-height + $footer-height});
    transition: all 0.3s;

    top: 0;
    right: 0;

    &:not(.always_full) > *:not(#menu):not(#footer):not(.always_full) {

        @media (min-width: 1000px){
            padding-left: 5%;
            padding-right: 5%;

        }

    }

    a:not(.cms-btn) {
        color: $HL_blue;
        &:hover{
            color: $HL_seafoam;
        }
    }

    ul{
        list-style: disc;
        margin-left: 3em;

        &:not(.nav){
            //padding-bottom: 1em;
        }

    }

    .container{
        padding-top:1.5em;
        padding-bottom:1em;
    }

    #content-wrapper {
        width: 100%;
        //height: 100%;
        //min-height: 100%;
        min-width: 100%;

        #content-tab-header {
            position: fixed;
            top: $header-height;
            background-color: #f1f1f1;
            background-repeat: no-repeat;
            width: 100%;
            height: 57px;
            z-index: 100;

            min-width:500px;

            ul {
                width: 100%;
                padding: 15px 0 0 0;

                li {
                    //padding-left: 15px;

                    a {
                        background-color: transparent;

                        &:hover:not(.active) {
                            background-color: $trans_gray;
                        }
                    }

                    &.active{
                        a, a:hover {
                            background-color: #fff;
                        }
                    }
                }
            }
        }

        #content-tab-body{
            margin-top: 60px;
            //padding: 25px 25px 110px;
        }

        .content-inner{
            padding: 20px 10px;
        }
    }

    .centered_container{
        width:100%;
        padding: 2em;

        // if window is larger than 500px center form and add borders
        @media (min-width: 500px){
            // be max height - header/footer heights
            height: calc(100% - 50px - 50px);
            min-height: fit-content;
            width: 50%;
            min-width: 500px;
            margin: auto;
        }

    }

    .glow_border{
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.05);
    }
}




/* Social Section */

#social-section {
  padding: 30px 0;
  background-color: $HL_blue;
  text-align: center;
  .social {
    ul li {
      display: inline-block;
      margin: 0 20px;
    }
    i.fas {
      font-size: 24px;
      padding: 4px 5px;
      color: #fff;
      transition: all 0.5s;
      &:hover {
        color: #666;
      }
    }
  }
}

/* Footer */

#footer-spacer{
    height:$footer-height;
}

#footer {
  background-color: #222222;
  color: #777;

  text-align: center;
  //height:$footer-height;
  //padding: 15px 0 10px 0;
  p {
    font-size: 13px;
    margin: 0 10px;
    padding: 1em 0.5em
  }

  a {
    color: #999;

    &:hover {
      text-decoration: none;
      color: $HL_blue;

    }

  }

  .container {
        height: $footer-height;
        padding: 0;
    }


    .footer-nav{
        float: left;
    }

    .copyright{
        //float:right;
        float:left;
        height: $footer-height;
    }

    .social {
        float:right;
        //padding: 5px 0;
        height: $footer-height;

        ul{
            list-style: none;
            margin: 0 10px;
            padding: 0.5em 0.5em;

            li {
                display:inline;
                font-size: 20px;
                padding: 0 10px;


            }
        }

        a {
            color: #999;

            &:hover {
              text-decoration: none;
              color: $HL_blue;

            }

          }
    }

    #footer_additions {
        display: inline-block;
        text-align: left;
    }
}

a:focus {
  text-decoration: none;
  color: $HL_darkBlue;
}

//@import 'navigation';
@import 'sidebar-nav';
@import 'styledTables';




/* Media Styling */


@media (max-width: $mobile_large) {
    .content {
        padding: 40% 0 0;
    }
}

@media (max-width: 603px) {
    #menu.navbar-default {
        //background-color: rgba(0, 0, 0, 0.7);
    }
    label {
        float: none !important
    }
    .hover-bg .hover-text {
        padding: 12% 10%;
    }


}

@media (max-width: 360px) {
    .hover-bg .hover-text {
        padding: 22% 10%;
    }


}
