
{% if user.is_authenticated %}
    <div class="welcome_msg">
        Welcome, {{ user.full_name }}!
    </div>
{% endif %}

<ul class="nav navbar-nav navbar-right">



    <li class="child selected">
        <a href="/en/">Home</a>

    </li>

    {% if user.is_authenticated %}

        <li class="child sibling">
            <a href="/en/manage/">Manage</a>

        </li>

        <li class="child sibling">
            <a href="/accounts/profile">Profile</a>

        </li>

        <li class="child sibling">
            <a href="/accounts/logout">Logout</a>

        </li>

    {% else %}


        <li class="child sibling">
            <a href="/accounts/login">Login</a>

        </li>

        <li class="child sibling">
            <a href="/accounts/register">Register</a>

        </li>

    {% endif %}

</ul>