/*
    Exclude 'style-reset' as it causes some other issues
    @import 'browserStylingReset';

*/
/*
    bootstrap overrides
*/
.container {
  max-width: 100%; }

/*
    General overrides
*/
body, html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  overflow-x: hidden; }

.cms {
  width: 100vw !important; }

#base-cms-toolbar-container.noshow #cms-top .cms-toolbar {
  display: none; }
#base-cms-toolbar-container.noshow #cms-top .cms-sideframe {
  display: none; }
#base-cms-toolbar-container.noshow #cms-top .cms-structure {
  display: none !important; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  width: 100vw;
  max-width: 100%;
  margin-top: 0 !important; }
  html.cms-content-shift body {
    height: calc(100vh - 46px); }
  html.cms-content-shift #content {
    margin-top: 46px;
    min-height: calc(100vh - 46px); }
  html.cms-content-shift #sidebar {
    margin-top: 46px;
    height: calc(100vh - 46px); }
  html.cms-content-shift #menu {
    top: 46px !important; }
  html.cms-content-shift .sidebar_wrapper {
    margin-top: 46px; }
  html.cms-content-shift #content #content-wrapper #content-tab-header {
    top: 96px; }

body {
  margin: 0;
  max-width: 100%; }

.logo {
  background: url("../img/logo_215x40.png") no-repeat left center;
  width: 215px;
  height: 40px; }
  @media (max-width: 400px) {
    .logo {
      background: url("../img/logo_150x28.png") no-repeat left center;
      width: 150px;
      height: 28px; } }

.logo-large {
  background: url("../img/logo_1280x720.png") no-repeat center center;
  background-size: 80%;
  height: 200px; }

h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
  color: #232323; }
  h1 strong, h2 strong, h3 strong, h4 strong, h5 strong {
    font-weight: 900; }

h2 {
  line-height: 32px;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  margin-bottom: .5em; }

h3 {
  font-size: 20px;
  color: #666;
  font-weight: 700; }

h4 {
  font-size: 20px;
  color: #666; }

h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px; }

p {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 1em; }

.clearfix {
  display: inline-block;
  display: block; }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

* html .clearfix {
  height: 1%; }

ul, ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
  list-style: none; }

hr {
  border-top: 1px solid #45a4f3;
  width: 98%;
  border-radius: .75em;
  height: 3px;
  position: relative;
  background: #45a4f3;
  border: 0;
  margin: .5em auto 1em;
  text-align: center; }

.darkSection {
  padding: 2em 3em;
  background-color: #f6f6f6;
  width: 100%; }

/* Multicolumn element responsive styling */
div[class^='multicolumn'] {
  display: flex;
  flex-wrap: wrap; }
  div[class^='multicolumn'] .column {
    flex: 1 0 200px;
    box-sizing: border-box;
    color: #232323;
    padding: 1em 1em;
    margin-left: 10px;
    margin-top: 10px; }

/*************************************
 * HL message banner styling
 *************************************/
.HL-message-banner {
  display: block;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: red;
  background: #ffe5e5;
  border-left: 3px solid red;
  padding: 5px 10px; }
  .HL-message-banner.success {
    color: #069212;
    background: #a6ffce;
    border-left: 3px solid #069212; }
  .HL-message-banner.warning {
    color: #ff8d00;
    background: #ffecd3;
    border-left: 3px solid #ffa162; }
  .HL-message-banner.critical {
    color: red;
    background: #ffe5e5;
    border-left: 3px solid red; }

/* helios overrides
    TODO: Phase out origional Helios style sheet entirely with this document
*/
#services-section i.fas {
  font-size: 40px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #85cfc1; }

#content {
  width: 100vw;
  max-width: 100%;
  min-height: calc(100vh - 100px);
  transition: all 0.3s;
  top: 0;
  right: 0; }
  @media (min-width: 1000px) {
    #content:not(.always_full) > *:not(#menu):not(#footer):not(.always_full) {
      padding-left: 5%;
      padding-right: 5%; } }
  #content a:not(.cms-btn) {
    color: #45a4f3; }
    #content a:not(.cms-btn):hover {
      color: #85cfc1; }
  #content ul {
    list-style: disc;
    margin-left: 3em; }
  #content .container {
    padding-top: 1.5em;
    padding-bottom: 1em; }
  #content #content-wrapper {
    width: 100%;
    min-width: 100%; }
    #content #content-wrapper #content-tab-header {
      position: fixed;
      top: 50px;
      background-color: #f1f1f1;
      background-repeat: no-repeat;
      width: 100%;
      height: 57px;
      z-index: 100;
      min-width: 500px; }
      #content #content-wrapper #content-tab-header ul {
        width: 100%;
        padding: 15px 0 0 0; }
        #content #content-wrapper #content-tab-header ul li a {
          background-color: transparent; }
          #content #content-wrapper #content-tab-header ul li a:hover:not(.active) {
            background-color: rgba(35, 35, 35, 0.2); }
        #content #content-wrapper #content-tab-header ul li.active a, #content #content-wrapper #content-tab-header ul li.active a:hover {
          background-color: #fff; }
    #content #content-wrapper #content-tab-body {
      margin-top: 60px; }
    #content #content-wrapper .content-inner {
      padding: 20px 10px; }
  #content .centered_container {
    width: 100%;
    padding: 2em; }
    @media (min-width: 500px) {
      #content .centered_container {
        height: calc(100% - 50px - 50px);
        min-height: fit-content;
        width: 50%;
        min-width: 500px;
        margin: auto; } }
  #content .glow_border {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.05); }

/* Social Section */
#social-section {
  padding: 30px 0;
  background-color: #45a4f3;
  text-align: center; }
  #social-section .social ul li {
    display: inline-block;
    margin: 0 20px; }
  #social-section .social i.fas {
    font-size: 24px;
    padding: 4px 5px;
    color: #fff;
    transition: all 0.5s; }
    #social-section .social i.fas:hover {
      color: #666; }

/* Footer */
#footer-spacer {
  height: 50px; }

#footer {
  background-color: #222222;
  color: #777;
  text-align: center; }
  #footer p {
    font-size: 13px;
    margin: 0 10px;
    padding: 1em 0.5em; }
  #footer a {
    color: #999; }
    #footer a:hover {
      text-decoration: none;
      color: #45a4f3; }
  #footer .container {
    height: 50px;
    padding: 0; }
  #footer .footer-nav {
    float: left; }
  #footer .copyright {
    float: left;
    height: 50px; }
  #footer .social {
    float: right;
    height: 50px; }
    #footer .social ul {
      list-style: none;
      margin: 0 10px;
      padding: 0.5em 0.5em; }
      #footer .social ul li {
        display: inline;
        font-size: 20px;
        padding: 0 10px; }
    #footer .social a {
      color: #999; }
      #footer .social a:hover {
        text-decoration: none;
        color: #45a4f3; }
  #footer #footer_additions {
    display: inline-block;
    text-align: left; }

a:focus {
  text-decoration: none;
  color: #3D6BAA; }

/*
    DEMO STYLE
*/
.navbar-fixed-top, .navbar-fixed-bottom {
  z-index: 997; }

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; }
  a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s; }

.navbar {
  padding: 0px 10px 0px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }
  .navbar .navbar-brand {
    padding: 5px 35px; }
    .navbar .navbar-brand:hover .logo {
      transition: .3s all; }
    @media (max-width: 400px) {
      .navbar .navbar-brand {
        padding: 18px 10px; } }
  .navbar .navbar-header {
    width: 100%; }
    .navbar .navbar-header .navbar-btn {
      display: inline-block;
      background: transparent;
      color: #45a4f3;
      box-shadow: none;
      outline: none !important;
      border: none;
      float: left;
      margin: 10px 20px 0px 0px;
      transition: .2s all; }
      .navbar .navbar-header .navbar-btn:hover {
        background: #45a4f3;
        color: white; }
    .navbar .navbar-header .navbar-brand {
      float: none;
      display: block;
      width: 100px;
      margin: 0 auto; }
      @media (min-width: 768px) {
        .navbar .navbar-header .navbar-brand {
          float: left;
          width: 250px; } }
    .navbar .navbar-header .navbar-collapse {
      float: right;
      padding-right: 50px; }
      .navbar .navbar-header .navbar-collapse ul li a:hover {
        background-color: #45a4f3;
        color: #fff; }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #HL_blue;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  #dismiss:hover {
    background: #fff;
    color: #45a4f3; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  display: block;
  transition: all 0.3s; }
  .overlay.no_show {
    display: none !important; }
  @media (min-width: 768px) {
    .overlay {
      display: none !important; } }

#sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #45a4f3;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); }
  #sidebar.active {
    margin-left: -250px; }
  #sidebar .sidebar-header {
    padding: 20px;
    background: #45a4f3; }
    #sidebar .sidebar-header h3 {
      color: #fff; }
  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b; }
  #sidebar ul p {
    color: #fff;
    padding: 10px; }
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block; }
    #sidebar ul li a:hover {
      color: #7386D5;
      background: #fff; }
  #sidebar ul li.active > a, #sidebar ul li a[aria-expanded="true"] {
    color: #fff; }
  #sidebar #sidebar_nav {
    margin-top: 50px; }
    #sidebar #sidebar_nav .nav-item a {
      text-decoration: none;
      color: #fff;
      margin: 0; }
      #sidebar #sidebar_nav .nav-item a:hover, #sidebar #sidebar_nav .nav-item a:focus {
        background: rgba(35, 35, 35, 0.2);
        border: 1px solid transparent; }
    #sidebar #sidebar_nav .nav-item.active a {
      border: 1px solid #ddd;
      border-bottom-color: transparent;
      background-color: #45a4f3; }
    @media (min-width: 768px) {
      #sidebar #sidebar_nav .nav-item #navigation-tab {
        display: none; } }
    @media (min-width: 768px) {
      #sidebar #sidebar_nav .nav-item #TOC_tab {
        display: none; } }
  #sidebar a[data-toggle="collapse"] {
    position: relative; }
  #sidebar a[aria-expanded="false"]::before {
    display: block;
    position: absolute;
    right: 20px;
    font-size: 0.6em; }
  #sidebar a[aria-expanded="true"]::before {
    display: block;
    position: absolute;
    right: 20px;
    font-size: 0.6em; }
  #sidebar #navigation ul {
    margin: 0; }
    #sidebar #navigation ul li {
      width: 100%; }
      #sidebar #navigation ul li a {
        width: 100%; }
  #sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc; }
  #sidebar ul.CTAs {
    padding: 20px; }
    #sidebar ul.CTAs a {
      text-align: center;
      font-size: 0.9em !important;
      display: block;
      border-radius: 5px;
      margin-bottom: 5px; }

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  height: fit-content;
  min-height: 100vh; }
  @media (min-width: 768px) {
    #content {
      width: calc(100% - 250px); } }
  #content.active {
    width: 100%; }
    #content.active #menu {
      margin-left: 0; }
  #content #menu {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s; }
    #content #menu ul.nav a {
      color: #45a4f3; }
      #content #menu ul.nav a:hover {
        color: #fff;
        background: #45a4f3; }
    @media (min-width: 768px) {
      #content #menu {
        margin-left: 250px; } }
  #content #menu-spacer {
    height: 50px;
    margin: 0;
    padding: 0; }
  #content .content-inner {
    padding: 20px 10px; }
  #content #footer {
    position: absolute;
    bottom: 0;
    width: 100%; }

#sidebarCollapse {
  display: none; }
  #sidebarCollapse.has_children {
    display: inline-block; }
  #sidebarCollapse #navigation-tab {
    display: none; }
  @media (max-width: 768px) {
    #sidebarCollapse {
      display: inline-block; }
      #sidebarCollapse #navigation-tab {
        display: block; } }

/*
    TODO: Currently not very pretty in mobile view

*/
.styledTable {
  display: table;
  width: 100%;
  max-width: 100%; }
  .styledTable .row {
    display: table-row;
    /* set row coloring rules (color cell background, not row [for rounding rules to take affect] )*/
    /* ******* set cell border rounding rules
    */ }
    .styledTable .row .cell {
      display: table-cell;
      padding: 3px 10px;
      background-color: #e1e1e1;
      font-family: "Open Sans", sans-serif; }
      .styledTable .row .cell.header {
        background: #45a4f3;
        border-bottom: 2px solid #85cfc1;
        color: white;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: italic;
        font-size: 1.2em; }
    .styledTable .row:nth-child(even) .cell:not(.header) {
      background-color: #f1f1f1; }
    .styledTable .row:first-child .cell:first-child {
      border-top-left-radius: .75em; }
    .styledTable .row:first-child .cell:last-child {
      border-top-right-radius: .75em; }
    .styledTable .row:last-child .cell:first-child {
      border-bottom-left-radius: .75em; }
    .styledTable .row:last-child .cell:last-child {
      border-bottom-right-radius: .75em; }

/* standardized custom styling for responsive tables */
table.responsive_table, table.responsive_table table.responsive_table {
  width: 100%;
  border: none; }
  table.responsive_table tr, table.responsive_table table.responsive_table tr {
    border: none;
    /* stacktable 'key' cell which contains header values */
    /* stacktable 'value' cell which contains header values */ }
    table.responsive_table tr th, table.responsive_table table.responsive_table tr th {
      padding: 20px 10px 3px;
      border: none;
      border-bottom: 3px solid #45a4f3;
      font-family: "Lato", sans-serif;
      font-size: 17px; }
    table.responsive_table tr td, table.responsive_table table.responsive_table tr td {
      padding: 3px 10px;
      background-color: #F1F1F1;
      border: none; }
    table.responsive_table tr .st-key, table.responsive_table table.responsive_table tr .st-key {
      background-color: #eee;
      font-weight: bold;
      font-style: italic; }
    table.responsive_table tr .st-val, table.responsive_table table.responsive_table tr .st-val {
      background-color: #eee; }
    table.responsive_table tr.head_row .st-head-row:first-child, table.responsive_table table.responsive_table tr.head_row .st-head-row:first-child {
      border-top-left-radius: .75em; }
    table.responsive_table tr.head_row .st-head-row:last-child, table.responsive_table table.responsive_table tr.head_row .st-head-row:last-child {
      border-top-right-radius: .75em; }
    table.responsive_table tr .st-head-row-main, table.responsive_table table.responsive_table tr .st-head-row-main {
      background-color: #3D6BAA;
      display: none; }
    table.responsive_table tr:nth-child(even) td, table.responsive_table table.responsive_table tr:nth-child(even) td {
      background-color: #FFF; }
    table.responsive_table tr:first-child th:first-child, table.responsive_table table.responsive_table tr:first-child th:first-child {
      border-top-left-radius: .75em; }
    table.responsive_table tr:first-child th:last-child, table.responsive_table table.responsive_table tr:first-child th:last-child {
      border-top-right-radius: .75em; }

/* Media Styling */
@media (max-width: 768px) {
  .content {
    padding: 40% 0 0; } }
@media (max-width: 603px) {
  label {
    float: none !important; }

  .hover-bg .hover-text {
    padding: 12% 10%; } }
@media (max-width: 360px) {
  .hover-bg .hover-text {
    padding: 22% 10%; } }

/*# sourceMappingURL=style.css.map */
