<!--extend this to provide a detail view for a lesson -->
{% load module_template_tags sekizai_tags static thumbnail %}

{% block content %}
    {% addtoblock "template_css" %}{% endaddtoblock "template_css" %}

    {# Load content into non editable context variable  #}
    {# render_placeholder object.summary as content #}

    <div class='lesson ck-content'>
        {# content_editor_button request.user object #}

        <h2 class="lesson-header">{{object.name}}</h2>
        <hr class="headerSpacer">

        {% if object.summary %}
            {{ object.summary|safe }}
        {% else %}
            <p>
                This Lesson doesn't appear to have a summary!
            </p>
        {% endif %}

    </div>

    {% addtoblock 'template_js' %}
        <script>
            $('table:not(.responsive_table):not(.stacktable)').addClass('responsive_table')
        </script>
    {% endaddtoblock 'template_js' %}

{% endblock content %}



