<!--extend this to provide a detail view for a module-->
{% load module_template_tags sekizai_tags static thumbnail %}

{% block content %}
    {% addtoblock "template_css" %}<link rel="stylesheet" href="{% static 'module/css/activity_styling.css' %}" type="text/css">{% endaddtoblock "template_css" %}

    {# Load content into non editable context variable  #}
    {# render_placeholder object.content as content #}

    <div class='lesson ck-content'>
        {# content_editor_button request.user object #}
        
        <h2 class="lesson-header">{{object.name}}</h2>
        <hr class="headerSpacer">
        {% show_resources_box object.resources.all %}

        {% if object.content %}
            {{ object.content|safe }}
        {% else %}
            <p>
                There appears to be no content for this Activity Section!
            </p>
        {% endif %}
    </div>

    {% addtoblock 'template_js' %}
        <script>
            $('table:not(.responsive_table):not(.stacktable)').addClass('responsive_table')
        </script>
    {% endaddtoblock 'template_js' %}
{% endblock content %}

