<!-- extend this to provide a detail view for a topic -->
{% load cms_tags module_template_tags sekizai_tags static thumbnail menu_tags %}

{% block content %}
    {% addtoblock "template_css" %}{% endaddtoblock "template_css" %}

    <div class='lesson'>
        {% content_editor_button request.user object %}

        <h2 class="lesson-header">{{object.name}}</h2>
        <h3>Summary</h3>
        <hr class="headerSpacer">

        {% render_placeholder object.summary %}
    </div>

    {% addtoblock 'template_js' %}
    <script>
            $('table:not(.responsive_table):not(.stacktable)').addClass('responsive_table')
        </script>
    {% endaddtoblock 'template_js' %}

{% endblock content %}



