#editor_formset_init {
  display: none; }

.cms-modal-item-buttons a {
  color: white; }

/*
    jquery CONTEXT MENU styling header via data attribute
*/
.data-title:before {
  color: #8f8f8f;
  content: attr(data-menutitle);
  display: block;
  padding: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: bold; }

.context-menu-item.context-menu-icon-delete {
  color: #b1213c; }
  .context-menu-item.context-menu-icon-delete:before {
    color: #b1213c; }

#TOC_content .TOC_add_menu {
  color: white;
  border-radius: 7px;
  text-align: center;
  display: unset; }
  #TOC_content .TOC_add_menu .TOC_add_menu_trigger_btn {
    cursor: pointer;
    border-radius: 7px;
    padding: 3px 5px;
    display: inline-block;
    float: right;
    margin-top: -2px;
    margin-left: 5px;
    border: none;
    background: transparent; }
    #TOC_content .TOC_add_menu .TOC_add_menu_trigger_btn.active {
      background: #85cfc1;
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset; }
    #TOC_content .TOC_add_menu .TOC_add_menu_trigger_btn:hover {
      background: #85cfc1; }
  #TOC_content .TOC_add_menu .TOC_add_menu_content {
    background: #85cfc1;
    width: 100%;
    border-radius: 7px;
    border-top-right-radius: unset;
    margin: 3px 0;
    padding: 5px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3); }
    #TOC_content .TOC_add_menu .TOC_add_menu_content .TOC_Add_Section_wrapper {
      margin: 0;
      text-align: center; }
      #TOC_content .TOC_add_menu .TOC_add_menu_content .TOC_Add_Section_wrapper .TOC_Add_Section_button {
        cursor: pointer;
        background: #ffffff33;
        color: #427e8d;
        transition: all .2s;
        font-size: .85em;
        padding: 3px 6px;
        display: block;
        border-bottom: 1px solid #00000033; }
        #TOC_content .TOC_add_menu .TOC_add_menu_content .TOC_Add_Section_wrapper .TOC_Add_Section_button:hover {
          background: #31c55f;
          color: #fff; }
        #TOC_content .TOC_add_menu .TOC_add_menu_content .TOC_Add_Section_wrapper .TOC_Add_Section_button i {
          padding-right: 3px; }
    #TOC_content .TOC_add_menu .TOC_add_menu_content .TOC_Add_Lesson_wrapper {
      margin: 0;
      text-align: center; }
      #TOC_content .TOC_add_menu .TOC_add_menu_content .TOC_Add_Lesson_wrapper .TOC_Add_Lesson_button {
        cursor: pointer;
        background: #ffffff33;
        padding: 3px 6px;
        transition: all .2s;
        font-size: .85em;
        color: #427e8d;
        display: block;
        border-bottom: 1px solid #00000033; }
        #TOC_content .TOC_add_menu .TOC_add_menu_content .TOC_Add_Lesson_wrapper .TOC_Add_Lesson_button:hover {
          background: #31c55f;
          color: #fff; }
        #TOC_content .TOC_add_menu .TOC_add_menu_content .TOC_Add_Lesson_wrapper .TOC_Add_Lesson_button i {
          padding-right: 3px; }
#TOC_content .TOC_Toolbox {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  background: #ffffff44;
  float: right;
  padding: 1px 5px;
  border-radius: 7px;
  transition: all .2s; }
  #TOC_content .TOC_Toolbox i {
    transition: all .2s;
    padding: 1px 3px;
    color: #fff; }
    #TOC_content .TOC_Toolbox i:hover {
      color: #F98600; }
#TOC_content .TOC_Title {
  padding: 4px 10px 4px 25px; }
#TOC_content .TOC_listing .accord-title {
  padding-right: 10px; }
#TOC_content .TOC_NEW_OBJ {
  background: #85cfa399;
  font-weight: bold;
  border-left: 3px solid #00ff00; }
  #TOC_content .TOC_NEW_OBJ .accord-title {
    font-weight: bold; }
  #TOC_content .TOC_NEW_OBJ .TOC_NEW_OBJ {
    border-left: none; }
#TOC_content .TOC_EDITED_OBJ {
  background: #cfb585bf;
  font-weight: bold;
  border-left: 3px solid #ffbc00; }
  #TOC_content .TOC_EDITED_OBJ .accord-title {
    font-weight: bold; }

.form_block {
  display: none; }

.Toggle_edit_btn {
  float: right; }

#content_form .has_error {
  border: 1px dashed red;
  background: #ffeeee; }
#content_form .form-error {
  color: red;
  padding: 0px 12px; }
#content_form #content_form_controls {
  background: #ececec;
  width: 100%;
  height: 50px;
  padding: 8px;
  margin-top: 15px;
  border-radius: 7px; }
#content_form .Submit_button {
  float: left;
  background: #85cfc1;
  color: white;
  font-weight: bold;
  transition: all .2s; }
  #content_form .Submit_button:hover {
    background: #31c55f; }
#content_form .Cancel_button {
  float: left;
  margin: 0 10px;
  background: #eaeaea;
  font-weight: bold;
  transition: all .2s; }
  #content_form .Cancel_button:hover {
    background: #d2d2d2; }
#content_form .Delete_button {
  float: right;
  margin: 0 10px;
  background: #b1213c;
  color: white;
  font-weight: bold;
  transition: all .2s; }
  #content_form .Delete_button:hover {
    background: red; }

.form_messages {
  display: none;
  width: 90%;
  padding: 10px;
  margin: 10px 0; }
  .form_messages ul {
    list-style: none !important;
    list-style-type: none !important; }

#form-confirmation-content form .helptext {
  display: block;
  font-style: italic; }

/*# sourceMappingURL=editor_styling.css.map */
