{% extends CMS_TEMPLATE %}

{% block content %}
    <h3>Activation Email Sent!</h3>

    <p>
        Thanks for wanting to be a part of HydroLearn, {{ new_account }}!
    </p>
    <p>
        Please check your email and click the activation link to complete registration.
    </p>

    <p>
        If you do not see an email from us regarding activation of your account:
        <ul>
            <li>Ensure it hasn't gone to your spam folder.</li>
            <li>Ensure that you have entered the correct email address.</li>
        </ul>

    </p>

{% endblock content %}