#profile_form_wrapper{

    .content{
        //border: 1px solid #ddd;
        padding: 0 2em;
        margin-bottom: 1em;

    }

    .controls{
        height: 50px;
    }

    #user_profile_form{

        margin: auto;
        width: max-content;

        table tr  {
            td, th{
                padding: 5px;
            }
        }

    }

    #submit_profile_btn{
        float:right;

    }


    .label {
        width: 100%;
        padding-left: 0;
      }

    .label-hydroshare {
      color: #71a43a;
      border: #aaaaaa solid 1px;

      &:hover {
          color: #ffffff;
          background-color: #71a43a;
        }

    }
    #social_wrapper{

        width: 100%;
        padding: 15px 0;

        #social_content{
                margin-left: 2em;

                .span-hydroshare-logo {
                    width: 100px;
                    height: 20px;
                    background-size: 50%;
                    background: url('https://www.hydroshare.org/static/img/logo-lg.png') no-repeat;
                    display:block;
                }

                .hs-logo-container {
                    display:inline-block;
                    vertical-align: middle;
                    margin-right: 15px;

                    img {
                        float: left;
                        height: 30px;

                    }

                    span {
                        position: relative;
                        top: 25px; //25px
                        margin-left: 10px;
                    }


                }

                #social_form{
                    display:inline-block;
                }
        }

    }


}


