{% load module_template_tags sekizai_tags static thumbnail menu_tags editor_template_tags %}

<div class='lesson'>

    {% if is_instance %}
        {# if there's a form instance display it's content as it would be in the viewer #}

        {% if edit_access %}
            <button class="Toggle_edit_btn btn btn-default">Edit</button>
        {% else %}
            <div class="HL-message-banner warning"> {{ manage_denied_message }}</div>
        {% endif %}

        <div class="content_block">

            {# content_editor_button request.user object #}
            <div id="manage_form" style="width:100%; border:none;"></div>

        </div>
    {% endif %}

    {% if edit_access %}
        <div class="form_block" data-existing-instance="{{ is_instance }}">
            <div id="content_form_success" class="HL-message-banner success form_messages"></div>
            <div id="content_form_errors" class="HL-message-banner critical form_messages"></div>

            <h2 class="lesson-header">
                Editing:
                {% if is_instance %}
                    {{form.instance.name}}
                {% else %}
                    New Activity
                {% endif %}
            </h2>
            <hr class="headerSpacer">

            <form id="content_form" action="{{ request.path }}" method="post">
                {% csrf_token %}
                {{ form.media }}
                <table>
                    {{ form.as_table }}
                </table>

                <h4>Resources</h4>

                <div id="resources_wrapper">
                <ul>
                    {% if resources %}



                        {{ resources.media }}
                        {{ resources.management_form }}

                        {% for form in resources %}

                            <li>{{form}}</li>

                        {% endfor %}

                    {% endif %}
                </ul>

                </div>

                <div id="content_form_controls">
                    <button class="Submit_button btn btn-default" type="submit">Submit Section</button>
                    <button class="Cancel_button btn btn-default">Cancel</button>

                    {% if is_instance %}
                        <button class="Delete_button btn btn-default" type="submit"><i class="fas fa-trash glyph-button"></i> Delete Section</button>
                    {% endif %}
                </div>
            </form>
        </div>
    {% endif %}
</div>


<script>
    $('#manage_form').load('{{ content_view }}')

    $('#resources_wrapper').formset();
</script>