<form id="import_form" action="{% url 'editor:lesson_import' Lesson.slug %}" method="post">
    {% csrf_token %}
    <h4>Import Module into "<span style="font-weight:bold;">{{ Lesson.name}}</span>".</h4>

    <p>
        This action will import an existing module from your <span style="font-style:italic;">My Modules</span> listing
        into the selected lesson. Modules can only be imported if their lesson depth doesn't cause this module to exceed
        the depth limit (3).
    </p>

    {% if not request.is_ajax %}
        <div id="form_errors" class="HL-message-banner critical">{{ form.errors }}</div>
    {% endif %}


    {{form.as_p}}


    <div id="import_selection_preview"></div>

    {% if not request.is_ajax %}
        <div id="content_form_controls">
            <button class="Submit_button btn btn-default" type="submit">Confirm Import</button>
            <button class="Cancel_button btn btn-default">Cancel</button>

        </div>
    {% endif %}
</form>

