<form id="import_form" action="{{ request.path }}" method="post">
    {% csrf_token %}
    Import Module into {{ Lesson.name}}.

    <div id="form_errors" class="HL-message-banner critical">{{ form.errors }}</div>
    <table>
        {{ form.as_table }}
    </table>

    <div id="import_selection_preview"></div>

    <div id="content_form_controls">
        <button class="Submit_button btn btn-default" type="submit">Confirm Import</button>
        <button class="Cancel_button btn btn-default">Cancel</button>

    </div>
</form>

