{% load module_template_tags sekizai_tags static thumbnail menu_tags editor_template_tags %}

<div class='lesson'>

    {% if edit_access %}
        <button class="Toggle_edit_btn btn btn-default">Edit</button>
    {% else %}
        <div class="HL-message-banner warning"> {{ manage_denied_message }}</div>
    {% endif %}

    {% if is_instance %}
        {# if there's a form instance display it's content as it would be in the viewer #}
        <div class="content_block">

            {# content_editor_button request.user object #}
            <div id="manage_form" style="width:100%; border:none;"></div>

        </div>
    {% endif %}

    {% if edit_access %}
        <div class="form_block" data-existing-instance="{{ is_instance }}">
            <div id="content_form_success" class="HL-message-banner success form_messages"></div>
            <div id="content_form_errors" class="HL-message-banner critical form_messages"></div>

            <h2 class="lesson-header">
                Editing:
                {% if is_instance %}
                    {{form.instance.name}}
                {% else %}
                    New Lesson
                {% endif %}
            </h2>
            <hr class="headerSpacer">

             <div id="learning_objectives_formset_empty">
                <div id="LO_Empty_form" class="LO_form form_row" style="display:none;">
                    {% show_learningObj_form learning_objective_formset.empty_form %}

                </div>
            </div>

            <form id="content_form" action="{{ request.path }}" method="post">
                {% csrf_token %}
                {{ form.media }}
                <table>
                    {{ form.as_table }}
                </table>



                <div id="add-objective-btn" style="float:right;" class="Submit_button btn btn-default"><i class="fas fa-plus-circle"></i> Add Objective</div>


                {% show_learningObj_formset learning_objective_formset %}


                {% comment %}
                <div id="learning_objectives_formset">
                    {% for lo_form in  learning_objective_formset.forms %}
                        <div id="{{ lo_form.prefix }}" class="LO_form">
                            {% if lo_form.condition.value %}
                            <div class="LO_representation">{{ lo_form.condition.value }} {{ lo_form.verb.value }} {{ lo_form.task.value }} {{ lo_form.degree.value }}</div>
                            {% else %}
                            <div class="LO_representation"></div>
                            {% endif %}
                            {{ lo_form }}
                        </div>
                    {% endfor %}
                </div>
                <div>
                    {{ learning_objective_formset.management_form }}
                </div>
                {% endcomment %}




                <div id="content_form_controls">
                    <button class="Submit_button btn btn-default" type="submit">Submit Lesson</button>
                    <button class="Cancel_button btn btn-default">Cancel</button>

                    {% if is_instance %}
                        <button class="Delete_button btn btn-default" data-slug="form.instance.slug"><i class="fas fa-trash"></i> Delete Lesson</button>
                    {% endif %}
                </div>
            </form>


        </div>
    {% endif %}

</div>


        <script src="{% static 'editor/js/Learning_obj_functionality.js' %}"></script>

        <script type='text/javascript'>
            $('#manage_form').load('{{ content_view }}')

            $("#add-objective-btn").click(function(event ) {
                event.preventDefault()
                resetWizard();
                $("#learning-objective-dialog").dialog('open')
            } );

            $(window).ready(function () {

                // set click event for dialog's help button
                $(".learning_obj_help_icon").click(function(){
                    $("#learning-objective-help-dialog").dialog('open')
                });


            });

            var verbsByKnowledge;

            $( document ).ready(function() {

                var knowledgeOrder = JSON.parse("{{ knowledge_order|escapejs }}");
                verbsByKnowledge = JSON.parse("{{ verbs_by_knowledge|escapejs }}");
                var outcomes = JSON.parse("{{ abet_outcomes|escapejs }}");

                populateKnowledgeList(knowledgeOrder);
                populateOutcomes(outcomes);

                // set events to updated learning objective on text
                mapWizardInputEvents();

                //$(document).on('input','.outcome_checkbox', updateABETSelection)

                // initialize wizard if not already initialized
                $("#wizardLO:not(.wizard)").steps({
                    headerTag: "h2",
                    bodyTag: "section",
                    transitionEffect: "fade",

                    onStepChanging: function (event, currentIndex, newIndex)
                    {
                        // Always allow previous action even if the current form is not valid
                        if (currentIndex > newIndex) return true;


                        var valid_input = true;
                        switch(currentIndex){
                            case 0:
                                valid_input = $("#condition").val().trim().length > 0;
                                break;
                            case 1:
                                valid_input = $("#actionSelection").val().trim().length > 0
                                break;
                            case 2:
                                valid_input = $("#task").val().trim().length > 0
                                break;
                            case 3:
                                valid_input = $("#degree").val().trim().length > 0;
                                break;

                            //case 4: break;


                            default: break;

                        }

                        // if loading the review step, update the selected ABET listing
                        if(newIndex == 5){
                            updateABETReview();
                        }

                        return valid_input;
                    },

                    onFinished: function (event, currentIndex)
                    {
                        // add the new form row for this learning objective
                        //$('.LO_fs_add').click()

                        var outcomes_ids = $("#outcomes_selection input:checked").map(function(){
                                              return $(this).val();
                                            }).get();

                        // grab all input field values
                        var values_dictionary = {
                            "condition": $("#condition").val().trim(),
                            "task": $("#task").val().trim(),
                            "degree": $("#degree").val().trim(),
                            "level": $("#knowledgeSelection option:selected").text(),
                            "level_id": $("#knowledgeSelection option:selected").val(),
                            "verb": $("#actionSelection option:selected").text(),
                            'verb_id': $("#actionSelection option:selected").val(),
                            "outcomes": outcomes_ids,
                        }

                        // add the new form
                        var learning_objective_form = $('.LO_form').last();
                        if(learning_objective_form.attr('id') !== "learning_objective_set-0" || learning_objective_form.find(".LO_representation").text() !== ''){
                            $('.LO_fs_add').click();
                            learning_objective_form = $('.LO_form').last();
                        }
                        updateLearningObjective(learning_objective_form, values_dictionary);
                        $('.ui-dialog-titlebar-close').click();
                        resetWizard();
                    }
                });

            });

            $('#learning_objectives_formset .LO_form').formset({

                formCssClass: "LO_form",

                // add prefix for formset (you can comment this out for now, but you will
                // need to add this once it’s part of the lesson form)
                prefix: '{{ learning_objective_formset.prefix }}',

                // this will remove the text from the add button so you don’t need to hide it
                addText: "",
                deleteText: "",

                // specify the empty form representation
                formTemplate: "#LO_Empty_form",

                addCssClass: 'LO_fs_add',
                deleteCssClass: 'LO_fs_remove',

                // perform actions on add
                added: function(row){

                    // on add replace the text of the remove
                    // button with the delete glyph-icon
                    var remove_btn = $(row).find('.LO_fs_remove');

                    // example: <i class="fas fa-trash glyph-button glyph-delete"></i>
                    remove_btn.html($('<i>', {class: 'fas fa-trash glyph-button glyph-delete'}))

                    // move the remove button into the last cell
                    $(row).find('.form_cell').last().append(remove_btn)
                },

            });


            // initialize any existing delete buttons for existing forms
            $('#learning_objectives_formset .form_delete').click(function(del_event){

                var form = $(del_event.target).closest('.form_row')
                var deletion_state = form.hasClass('deleted_form');

                // add styling class to the form row

                if(deletion_state){
                    form.removeClass('deleted_form');
                    form.find('input[name$="DELETE"]').removeAttr('value')

                }else{
                    form.addClass('deleted_form');
                    form.find('input[name$="DELETE"]').attr('value',!deletion_state)
                }
            });

            // if any learning objective forms have been populated without a value (the extra form)
            // remove it from the listing
            $('#learning_objectives_formset .LO_form').each(function(index, form){
                if($(this).find('.LO_representation').text().trim() == ""){


                    //$(this).find('.form_delete').click()
                    $(this).remove()
                }
            })




        </script>
