{% load module_template_tags sekizai_tags static thumbnail menu_tags editor_template_tags %}

<div class='lesson'>

    {% if edit_access %}
        <button class="Toggle_edit_btn btn btn-default">Edit</button>
    {% else %}
        <div class="HL-message-banner warning"> {{ manage_denied_message }}</div>
    {% endif %}

    {% if is_instance %}
        {# if there's a form instance display it's content as it would be in the viewer #}
        <div class="content_block">

            {# content_editor_button request.user object #}
            <div id="manage_form" style="width:100%; border:none;"></div>

        </div>
    {% endif %}

    {% if edit_access %}
        <div class="form_block" data-existing-instance="{{ is_instance }}">
            <div id="content_form_success" class="HL-message-banner success form_messages"></div>
            <div id="content_form_errors" class="HL-message-banner critical form_messages"></div>

            <h2 class="lesson-header">
                Editing:
                {% if is_instance %}
                    {{form.instance.name}}
                {% else %}
                    New Lesson
                {% endif %}
            </h2>
            <hr class="headerSpacer">

            <form id="content_form" action="{{ request.path }}" method="post">
                {% csrf_token %}
                {{ form.media }}
                <table>
                    {{ form.as_table }}
                </table>


                <h4>Learning Objectives</h4>
                <hr/>

                <div id="learning_objectives_formset_empty"style="visibility: hidden">
                    <div id="LO_Empty_form">
                        <div class="LO_representation"></div>
                        {{ learning_objective_formset.empty_form }}
                    </div>
                </div>
                <div id="learning_objectives_formset">
                    {% for lo_form in  learning_objective_formset.forms %}
                        <div id="{{ lo_form.prefix }}" class="LO_form">
                            {% if lo_form.condition.value %}
                            <div class="LO_representation">{{ lo_form.condition.value }} {{ lo_form.verb.value }} {{ lo_form.task.value }} {{ lo_form.degree.value }}</div>
                            {% else %}
                            <div class="LO_representation"></div>
                            {% endif %}
                            {{ lo_form }}
                        </div>
                    {% endfor %}
                </div>
                <div>
                    {{ learning_objective_formset.management_form }}
                    <button id="add-objective-btn">Add</button>
                </div>


                <div id="content_form_controls">
                    <button class="Submit_button btn btn-default" type="submit">Submit Lesson</button>
                    <button class="Cancel_button btn btn-default">Cancel</button>

                    {% if is_instance %}
                        <button class="Delete_button btn btn-default" data-slug="form.instance.slug"><i class="fas fa-trash"></i> Delete Lesson</button>
                    {% endif %}
                </div>
            </form>

                                <div id="learning-objective-dialog" title="Add Learning Objective">
                                  {% include "core/learning_objectives_dialog.html" %}
                                </div>


        </div>
    {% endif %}

</div>


        {% addtoblock 'template_css'%}<link rel="stylesheet" href="{% static 'css/normalize.css' %}">{% endaddtoblock 'template_css'%}
        {% addtoblock 'template_css'%}<link rel="stylesheet" href="{% static 'css/main.css' %}">{% endaddtoblock 'template_css'%}
        {% addtoblock 'template_css'%}<link rel="stylesheet" href="{% static 'css/jquery.steps.css' %}">{% endaddtoblock 'template_css'%}

        {% addtoblock 'template_js'%}<script src="{% static 'js/plugins/modernizr-2.6.2.min.js' %}"></script>{% endaddtoblock 'template_js'%}
        {% addtoblock 'template_js'%}<script src="{% static 'js/plugins/jquery.cookie-1.3.1.js' %}"></script>{% endaddtoblock 'template_js'%}




        <script type='text/javascript'>
            $('#manage_form').load('{{ content_view }}')
            $("#add-objective-btn").click(function(event ) {
                    event.preventDefault()
                    lo_dialog.dialog( "open" );
                } );

            $(window).load(function () {
                $(".trigger_popup_fricc").click(function(){
                   $('.hover_bkgr_fricc').show();
                });
                $('.hover_bkgr_fricc').click(function(){
                    $('.hover_bkgr_fricc').hide();
                });
                $('.popupCloseButton').click(function(){
                    $('.hover_bkgr_fricc').hide();
                });
            });

            function updateABETSelection(checkbox, index){
                if (checkbox.checked){
                    var aText = $("#abet_text_" + index).text();
                    $("#abet_outcomes").append("<li id='abet_" + index + "'>" + aText + "</li>");
                }
                else{
                    $("#abet_" + index).remove();
                }
            };
            var verbsByKnowledge;

            function updateActionList(knowledge){
                if(!(typeof knowledge === 'string')) {
                    knowledge = knowledge.value;
                }
                options = ["not found"];
                $('#actionList').empty();
                jQuery.each(verbsByKnowledge[knowledge], function(i, verb){
                    $('#actionList').append(new Option(verb, verb, false, false));
                });
            };

            function selectAction(actionValue){
                $('.verbDisplay').each(function() {
                    $(this).text(actionValue.value);
                });
            };

            $( document ).ready(function() {
                var knowledgeOrder = JSON.parse("{{ knowledge_order|escapejs }}");
                verbsByKnowledge = JSON.parse("{{ verbs_by_knowledge|escapejs }}");
                // Setup knowledge dropdown
                 knowledgeOrder.map( function(knowledge){
                    $('#knowledgeSelection').append(new Option(knowledge, knowledge, false, false));
                });
                updateActionList(knowledgeOrder[0]);

                $(document).on('input','#condition',function () {
                    var conditionText = $(this).val();
                    $('.conditionDisplay').each(function() {
                        $(this).text(conditionText);
                    });
                });
                $(document).on('input','#task',function () {
                    var taskText = $(this).val();
                    $('.taskDisplay').each(function() {
                        $(this).text(taskText);
                    });
                });
                $(document).on('input','#degree',function () {
                    var degreeText = $(this).val();
                    $('.degreeDisplay').each(function() {
                        $(this).text(degreeText);
                    });
                });


            });

            $( function() {
                lo_dialog = $( "#learning-objective-dialog" ).dialog({
                    autoOpen: false,
                    width: 1200,
                    modal: true,
                    close: function() {
                        //TODO handle form here?
                    }
                });

            });


            $('.LO_form').formset({

                formCssClass: "LO_form",

                // add prefix for formset (you can comment this out for now, but you will
                // need to add this once it’s part of the lesson form)
                prefix: '{{ learning_objective_formset.prefix }}',

                // this will remove the text from the add button so you don’t need to hide it
                addText: "",

                // specify the empty form representation
                formTemplate: "#LO_Empty_form",
            });

            $("#wizardLO").steps({
                headerTag: "h2",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                onStepChanging: function (event, currentIndex, newIndex)
                {
                    // Always allow previous action even if the current form is not valid
                    if (currentIndex > newIndex)
                    {
                        return true;
                    }
                    if(currentIndex === 0){
                        if($("#condition").val().trim().length == 0){
                            return false;
                        }
                    }
                    if(currentIndex === 1){
                        if($("#actionText").val().trim().length == 0){
                            return false;
                        }
                    }
                    if(currentIndex === 2){
                        if($("#task").val().trim().length == 0){
                            return false;
                        }
                    }
                    if(currentIndex === 3){
                        if($("#degree").val().trim().length == 0){
                            return false;
                        }
                    }
                    if(currentIndex === 4){
                    }
                    return true;
                },

                onFinished: function (event, currentIndex)
                {
                    var outcomes_ids = $("#outcomes_selection input:checked").map(function(){
                                          return $(this).val();
                                        }).get();
                    var values_dictionary = {
                        "condition": $(".conditionDisplay").html(),
                        "task": $(".taskDisplay").html(),
                        "degree": $(".degreeDisplay").html(),
                        "level": $("#knowledgeSelection option:selected").text(),
                        "verb": $(".verbDisplay").html(),
                        "outcomes": outcomes_ids
                    }
                    // add the new form
                    var learning_objective_form = $('.LO_form').last();
                    if(learning_objective_form.attr('id') !== "learning_objective_set-0" || learning_objective_form.find(".LO_representation").text() !== ''){
                        $('.add-row').click();
                        learning_objective_form = $('.LO_form').last();
                    }
                    updateLearningObjective(learning_objective_form, values_dictionary);
                    $('.ui-dialog-titlebar-close').click();
                    resetWizard();
                }
            });

            function updateLearningObjective(form, values_dictionary){
                form.find('input[name$=condition]').val(values_dictionary['condition']);
                form.find('input[name$=task]').val(values_dictionary['task']);
                form.find('input[name$=degree]').val(values_dictionary['degree']);
                form.find('input[name$=level]').val(values_dictionary['level']);
                form.find('input[name$=verb]').val(values_dictionary['verb']);
                form.find('input[name$=outcomes]').val(values_dictionary['outcomes']);

                var learn = values_dictionary["condition"] + " " + values_dictionary["verb"] + " " + values_dictionary["task"] + " " + values_dictionary["degree"];
                form.find('div.LO_representation').last().html(learn);
            }

            function resetWizard(){
                // reset inputs
                $("#condition").val("");
                $("#task").val("");
                $("#degree").val("");
                $("#actionText").val("");
                updateActionList("Remembering");
                $("#outcomes_selection input:checked").map(function(){
                                              return $(this).prop('checked', false);
                                            }).get();
                $("#knowledgeSelection").prop("selectedIndex", 0).change();

                // reset displays
                $('.conditionDisplay').each(function() {
                    $(this).text("");
                });
                $('.taskDisplay').each(function() {
                    $(this).text("");
                });
                $('.degreeDisplay').each(function() {
                    $(this).text("");
                });
                $('.verbDisplay').each(function() {
                    $(this).text("");
                });
                $("#abet_outcomes").empty();

                // click back to beginning
                $('a[href="#previous"]').click();
                $('a[href="#previous"]').click();
                $('a[href="#previous"]').click();
                $('a[href="#previous"]').click();
                $('a[href="#previous"]').click();
            }

            // remove the inital row... TODO, this will be removed when we're hooked into the backend?
            $('.delete-row').click()
        </script>
