{% load module_template_tags sekizai_tags static thumbnail menu_tags editor_template_tags %}

<div class='lesson'>

    {% if edit_access %}
        <button class="Toggle_edit_btn btn btn-default">Edit</button>
    {% else %}
        <div class="HL-message-banner warning"> {{ manage_denied_message }}</div>
    {% endif %}

    {% if is_instance %}
        {# if there's a form instance display it's content as it would be in the viewer #}
        <div class="content_block">

            {# content_editor_button request.user object #}
            <div id="manage_form" style="width:100%; border:none;"></div>

        </div>
    {% endif %}

    {% if edit_access %}
        <div class="form_block" data-existing-instance="{{ is_instance }}">
            <div id="content_form_success" class="HL-message-banner success form_messages"></div>
            <div id="content_form_errors" class="HL-message-banner critical form_messages"></div>

            <h2 class="lesson-header">
                Editing:
                {% if is_instance %}
                    {{form.instance.name}}
                {% else %}
                    New Lesson
                {% endif %}
            </h2>
            <hr class="headerSpacer">

            <form id="content_form" action="{{ request.path }}" method="post">
                {% csrf_token %}
                {{ form.media }}
                <table>
                    {{ form.as_table }}
                </table>
                <div id="content_form_controls">
                    <button class="Submit_button btn btn-default" type="submit">Submit Lesson</button>
                    <button class="Cancel_button btn btn-default">Cancel</button>

                    {% if is_instance %}
                        <button class="Delete_button btn btn-default" data-slug="form.instance.slug"><i class="fas fa-trash"></i> Delete Lesson</button>
                    {% endif %}
                </div>
            </form>
        </div>
    {% endif %}

</div>

<script>

    // load the management form for this lesson into 'manage_form' block
    $('#manage_form').load('{{ content_view }}', function(){

        // potential starting point for tying into the placeholder dialog's save button
        //      the action buttons are created after the modal is opened,
        //      but this method was not functional as implemented

        //  debugger;
        //  CMS.Modal.options.onClose = 'REFRESH_PAGE'
        //  //  after loading the content add event to modal
        //  //  so when opened an event can be bound to the save button
        //  $('.cms-modal').on('focus', function(event){
        //      console.log('modal opened')
        //      // buttons are added after opening, so need to wait a bit
        //      $('a.cms-btn.cms-btn-action.default').click(function(event){
        //      event.stopPropagation()
        //      })
        //  })

    });
</script>
