{% load editor_template_tags polymorphic_formset_tags core_tags static sekizai_tags %}

<!--<div class="FM_formset" FM-Type="SECTIONS" FM-Prefix="{{formset.prefix}}">-->
<div class="FM_formset" FM-Type="{{formset_type}}" FM-Prefix="{{formset.prefix}}">
    <div class="FM_formset_errors">{{ formset.non_form_errors }}</div>

    <!--potentially dont want to supply empty mgmt form if not already an instance -->
    <!--i.e. if formset.prefix-->
    <div class="FM_mgmt_form">{{ formset.management_form }}</div>

    <div class="FM_formset_forms" FM-Type="{{formset_type}}">

        {% for section_form in formset %}

                <div class="FM_form" FM-Type="{{formset_type}}" FM-poly-type="{{ section_form|as_form_type }}">
                    <div class="FM_form_content">
                        <div class="FM_form_errors form_error_container">{{section_form.errors}}</div>
                            {# section_form.as_table #}
                            {% show_section_form section_form %}

                    </div>
                </div>
        {% endfor sections_loop %}
    </div>
</div>